/* screen - ipad-pro-11-1 */

.ipad-pro-11-1 {
  background-color: var(--white);
  height: 19911px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 834px;
}

.ipad-pro-11-1 .title-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 122px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 13775px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .ficou-comalguma-idafale-conosco-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 74px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 74px;
  position: absolute;
  text-align: left;
  top: 16897px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .email-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 35px;
  left: 179px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 17194px;
  width: 152px;
}

.ipad-pro-11-1 .atendimento-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 35px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 17312px;
  width: 152px;
}

.ipad-pro-11-1 .quem-usarecomenda-I79TRs {
  -webkit-text-stroke: 5px var(--pomegranate-2);
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 103px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: 103px;
  position: absolute;
  text-align: center;
  top: 10434px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .matheus-I79TRs {
  background-color: transparent;
  height: auto;
  left: 302px;
  letter-spacing: 0.00px;
  line-height: 49px;
  position: absolute;
  text-align: left;
  top: 11154px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .rafaela-I79TRs {
  background-color: transparent;
  height: auto;
  left: 312px;
  letter-spacing: 0.00px;
  line-height: 49px;
  position: absolute;
  text-align: left;
  top: 11958px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .o-melhor-progra-clicar-e-enviar-I79TRs {
  background-color: transparent;
  height: 168px;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 11226px;
  width: 513px;
}

.ipad-pro-11-1 .uso-diariamente-s-aos-criadores-I79TRs {
  background-color: transparent;
  height: 168px;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 12030px;
  width: 513px;
}

.ipad-pro-11-1 .produtor-I79TRs {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 11402px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .afiliado-I79TRs {
  background-color: transparent;
  height: auto;
  left: 352px;
  letter-spacing: 0.00px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 12206px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .carlos-I79TRs {
  background-color: transparent;
  height: auto;
  left: 324px;
  letter-spacing: 0.00px;
  line-height: 49px;
  position: absolute;
  text-align: left;
  top: 12762px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .minha-taxa-de-v-e-minhas-vendas-I79TRs {
  background-color: transparent;
  height: 168px;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 12834px;
  width: 513px;
}

.ipad-pro-11-1 .afiliado-CqHr0H {
  background-color: transparent;
  height: auto;
  left: 364px;
  letter-spacing: 0.00px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 13010px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .nosso-serviode-ra-bem-acessvel-I79TRs {
  background-color: transparent;
  color: var(--pomegranate-2);
  font-family: var(--font-family-roboto);
  font-size: 80px;
  font-weight: 700;
  height: auto;
  left: 103px;
  letter-spacing: 3.60px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 8274px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-8Gnxy9 {
  color: var(--tarawera);
  font-style: normal;
  font-weight: 300;
}

.ipad-pro-11-1 .span1-8Gnxy9 {
  font-style: normal;
}

.ipad-pro-11-1 .voc-tem-todo-co-lma-de-suas-mos-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: 65px;
  position: absolute;
  text-align: left;
  top: 10058px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .pedidos-de-reem-em-ser-anulados-I79TRs {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 7153px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .com-apenas-um-c-a-seu-whats-app-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  height: 143px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: 35px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 5783px;
  width: 671px;
}

.ipad-pro-11-1 .span0-jEu7dv {
}

.ipad-pro-11-1 .span1-jEu7dv {
}

.ipad-pro-11-1 .span2-jEu7dv {
}

.ipad-pro-11-1 .span3-jEu7dv {
}

.ipad-pro-11-1 .span4-jEu7dv {
}

.ipad-pro-11-1 .span5-jEu7dv {
}

.ipad-pro-11-1 .span6-jEu7dv {
}

.ipad-pro-11-1 .span7-jEu7dv {
}

.ipad-pro-11-1 .apenas-selecion-um-certo-tempo-I79TRs {
  background-color: transparent;
  height: 72px;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 6917px;
  width: 574px;
}

.ipad-pro-11-1 .voc-pode-tambm-erceiro-produto-I79TRs {
  background-color: transparent;
  height: 54px;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 7066px;
  width: 574px;
}

.ipad-pro-11-1 .com-uma-simples-enso-do-cliente-I79TRs {
  background-color: transparent;
  height: 54px;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 7196px;
  width: 574px;
}

.ipad-pro-11-1 .voc-automatiza-rios-e-contnuos-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  height: 192px;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 65px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 7534px;
  width: 534px;
}

.ipad-pro-11-1 .span0-Caw0t1 {
}

.ipad-pro-11-1 .span1-Caw0t1 {
  font-style: normal;
}

.ipad-pro-11-1 .span2-Caw0t1 {
}

.ipad-pro-11-1 .span3-Caw0t1 {
  font-style: normal;
}

.ipad-pro-11-1 .com-a-I79TRs {
  background-color: transparent;
  height: 65px;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 65px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 7372px;
  white-space: nowrap;
  width: 159px;
}

.ipad-pro-11-1 .dentro-da-voclo-nossos-filtros-I79TRs {
  background-color: transparent;
  color: var(--pomegranate-2);
  font-family: var(--font-family-roboto);
  font-size: 54px;
  font-weight: 900;
  height: auto;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: 5546px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-nwfTZ9 {
  color: #fe5517;
  font-style: normal;
}

.ipad-pro-11-1 .span1-nwfTZ9 {
  font-style: normal;
}

.ipad-pro-11-1 .span2-nwfTZ9 {
  color: var(--white);
  font-style: normal;
}

.ipad-pro-11-1 .span3-nwfTZ9 {
  color: #fe5517;
  font-style: normal;
}

.ipad-pro-11-1 .span4-nwfTZ9 {
  font-style: normal;
}

.ipad-pro-11-1 .todas-aestomada-soenviadas-para-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 97px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 97px;
  position: absolute;
  text-align: center;
  top: 1535px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .aguardandopagamento-I79TRs {
  background-color: transparent;
  height: auto;
  left: 121px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 2411px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-gDY1xH {
}

.ipad-pro-11-1 .span1-gDY1xH {
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.ipad-pro-11-1 .span2-gDY1xH {
}

.ipad-pro-11-1 .venda-emchargeback-I79TRs {
  background-color: transparent;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 2833px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-yc2Yc2 {
}

.ipad-pro-11-1 .span1-yc2Yc2 {
}

.ipad-pro-11-1 .venda-iniciada-I79TRs {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 3250px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-etH1hb {
}

.ipad-pro-11-1 .span1-etH1hb {
}

.ipad-pro-11-1 .venda-aprovada-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 490px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 2405px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .venda-completa-I79TRs {
  background-color: transparent;
  height: auto;
  left: 485px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 2827px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-nxrEXd {
}

.ipad-pro-11-1 .span1-nxrEXd {
}

.ipad-pro-11-1 .venda-reclamada-I79TRs {
  background-color: transparent;
  height: auto;
  left: 473px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 3250px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-pwxa7T {
}

.ipad-pro-11-1 .span1-pwxa7T {
}

.ipad-pro-11-1 .boleto-gerado-I79TRs {
  background-color: transparent;
  height: auto;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 3674px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-RxqeD8 {
}

.ipad-pro-11-1 .span1-RxqeD8 {
}

.ipad-pro-11-1 .venda-em-anlise-I79TRs {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 4096px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-xMvdzA {
}

.ipad-pro-11-1 .span1-xMvdzA {
}

.ipad-pro-11-1 .venda-reembolsada-I79TRs {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 4519px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-svnUNk {
}

.ipad-pro-11-1 .span1-svnUNk {
}

.ipad-pro-11-1 .venda-cancelada-I79TRs {
  background-color: transparent;
  height: auto;
  left: 494px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 3674px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-IaALJV {
}

.ipad-pro-11-1 .span1-IaALJV {
}

.ipad-pro-11-1 .venda-expirada-I79TRs {
  background-color: transparent;
  height: auto;
  left: 510px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 4096px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-YtsUxx {
}

.ipad-pro-11-1 .span1-YtsUxx {
}

.ipad-pro-11-1 .venda-vencida-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 33px;
  font-weight: 700;
  height: auto;
  left: 512px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 4519px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .span0-pPUOdG {
  font-style: normal;
  font-weight: 500;
}

.ipad-pro-11-1 .span1-pPUOdG {
  font-style: normal;
}

.ipad-pro-11-1 .hotonhotoncom-I79TRs {
  background-color: transparent;
  height: 35px;
  left: 187px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 17227px;
  width: 279px;
}

.ipad-pro-11-1 .seg-sex-08h-s-2-iados-09h-s-17h-I79TRs {
  background-color: transparent;
  height: 106px;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 17345px;
  width: 415px;
}

.ipad-pro-11-1 .nossos-planos-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 77px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: 77px;
  position: absolute;
  text-align: center;
  top: 17643px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .anual-I79TRs {
  background-color: transparent;
  height: auto;
  left: 345px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 18795px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .trimestral-I79TRs {
  background-color: transparent;
  height: auto;
  left: 282px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 18362px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .ms-I79TRs {
  background-color: transparent;
  height: auto;
  left: 372px;
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 17929px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r4700-I79TRs {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 69px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 290px;
  letter-spacing: 0.00px;
  line-height: 69px;
  position: absolute;
  text-align: left;
  top: 18040px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r49700-I79TRs {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 69px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 265px;
  letter-spacing: 0.00px;
  line-height: 69px;
  position: absolute;
  text-align: left;
  top: 18906px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r13700-I79TRs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 69px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 69px;
  position: absolute;
  text-align: left;
  top: 18473px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .voc-tambm-pode-ramar-mensagens-I79TRs {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 6875px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .vendas-no-carto-cisam-ser-nicas-I79TRs {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 7023px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r4700-CqHr0H {
  -webkit-text-stroke: 3px #010101;
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 107px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: 107px;
  position: absolute;
  text-align: left;
  top: 8724px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .ms-CqHr0H {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 8655px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r49700-CqHr0H {
  -webkit-text-stroke: 3px var(--black);
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 106px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: 106px;
  position: absolute;
  text-align: left;
  top: 9229px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r49700-DCEBAs {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 106px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 106px;
  position: absolute;
  text-align: left;
  top: 9226px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .anual-CqHr0H {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: left;
  top: 9160px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r13700-CqHr0H {
  -webkit-text-stroke: 3px var(--black);
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 106px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 300px;
  letter-spacing: 0.00px;
  line-height: 106px;
  position: absolute;
  text-align: left;
  top: 8948px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r13700-DCEBAs {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 106px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 297px;
  letter-spacing: 0.00px;
  line-height: 106px;
  position: absolute;
  text-align: left;
  top: 8946px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .trimestral-CqHr0H {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 596px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 8884px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .r4700-DCEBAs {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 107px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 107px;
  position: absolute;
  text-align: left;
  top: 8721px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .aviso-legal-est-acebook-ou-do-f-I79TRs {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 124px;
  letter-spacing: 0.15px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 19430px;
  width: 573px;
}

.ipad-pro-11-1 .a-nova-ferramenta-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 282px;
  letter-spacing: 0.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 208px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .para-produtores-e-afiliados-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 267px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .integrao-automt-as-plataformas-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 33px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: left;
  top: 458px;
  white-space: nowrap;
  width: auto;
}

.ipad-pro-11-1 .descubra-como-t-quina-de-vendas-I79TRs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  height: 87px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 336px;
  width: 659px;
}

.ipad-pro-11-1 .span0-MPqvu2 {
  font-style: normal;
  font-weight: 400;
}

.ipad-pro-11-1 .span1-MPqvu2 {
  font-style: normal;
}

.ipad-pro-11-1 .video-I79TRs {
  background-color: transparent;
  height: 413px;
  left: 69px;
  position: absolute;
  top: 613px;
  width: 696px;
}

.ipad-pro-11-1 .video-EUaPM6 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .componente-57-1-I79TRs {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 316px;
  pointer-events: auto;
  position: absolute;
  top: 18195px;
  transition: all 0.2s ease;
  width: 206px;
}

.ipad-pro-11-1 .componente-57-1-I79TRs:hover {
  filter: grayscale(100%);
}

.ipad-pro-11-1 .retngulo-86-Zj0NzV {
  background-color: var(--pomegranate-2);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .compre-agora-Zj0NzV {
  background-color: transparent;
  bottom: calc(47.62% - 13px);
  height: 27px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% - 42px);
}

.ipad-pro-11-1 .componente-8-6-I79TRs {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 314px;
  pointer-events: auto;
  position: absolute;
  top: 18628px;
  transition: all 0.2s ease;
  width: 206px;
}

.ipad-pro-11-1 .componente-8-6-I79TRs:hover {
  filter: grayscale(100%);
}

.ipad-pro-11-1 .retngulo-86-W3M8IF {
  background-color: var(--tarawera);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .compre-agora-W3M8IF {
  background-color: transparent;
  bottom: calc(47.62% - 13px);
  height: 27px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% - 42px);
}

.ipad-pro-11-1 .componente-9-4-I79TRs {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 314px;
  pointer-events: auto;
  position: absolute;
  top: 19061px;
  transition: all 0.2s ease;
  width: 206px;
}

.ipad-pro-11-1 .componente-9-4-I79TRs:hover {
  filter: grayscale(100%);
}

.ipad-pro-11-1 .retngulo-86-ZSK6Tx {
  background-color: var(--pomegranate-2);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .compre-agora-ZSK6Tx {
  background-color: transparent;
  bottom: calc(47.62% - 13px);
  height: 27px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% - 42px);
}

.ipad-pro-11-1 .cadastre-se-I79TRs {
  background-color: transparent;
  height: 116px;
  left: 516px;
  position: absolute;
  top: -32px;
  width: 124px;
}

.ipad-pro-11-1 .retngulo-6-qbn3kg {
  background-color: var(--pomegranate);
  border-radius: 35px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .planos-qbn3kg {
  background-color: transparent;
  bottom: 9px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  height: 30px;
  left: calc(50.00% - 38px);
  letter-spacing: 0.57px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 76px;
}

.ipad-pro-11-1 .login-I79TRs {
  background-color: transparent;
  height: 116px;
  left: 659px;
  position: absolute;
  top: -32px;
  width: 124px;
}

.ipad-pro-11-1 .retngulo-7-xVtyla {
  background-color: var(--tarawera);
  border-radius: 35px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .entrar-xVtyla {
  background-color: transparent;
  bottom: 9px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  height: 30px;
  left: calc(48.21% - 33px);
  letter-spacing: 0.57px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 68px;
}

.ipad-pro-11-1 .componente-106-2-I79TRs {
  background-color: transparent;
  height: 154px;
  left: 124px;
  position: absolute;
  top: 15140px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-41jGrB {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 2px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-41jGrB:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-108-2-I79TRs {
  background-color: transparent;
  height: 150px;
  left: 124px;
  position: absolute;
  top: 15342px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-TOqVVa {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% + 2px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-TOqVVa:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-107-2-I79TRs {
  background-color: transparent;
  height: 151px;
  left: 122px;
  position: absolute;
  top: 14316px;
  width: 587px;
}

.ipad-pro-11-1 .retngulo-70-TnFJDS {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% + 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: calc(100.00% - 2px);
}

.ipad-pro-11-1 .retngulo-70-TnFJDS:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-109-2-I79TRs {
  background-color: transparent;
  height: 153px;
  left: 124px;
  position: absolute;
  top: 15546px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-aCBlFC {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-aCBlFC:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-110-2-I79TRs {
  background-color: transparent;
  height: 153px;
  left: 122px;
  position: absolute;
  top: 14520px;
  width: 587px;
}

.ipad-pro-11-1 .retngulo-70-F318WF {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 2px);
}

.ipad-pro-11-1 .retngulo-70-F318WF:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-112-2-I79TRs {
  background-color: transparent;
  height: 153px;
  left: 124px;
  position: absolute;
  top: 15741px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-W0GP3n {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-W0GP3n:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-111-2-I79TRs {
  background-color: transparent;
  height: 153px;
  left: 122px;
  position: absolute;
  top: 14715px;
  width: 587px;
}

.ipad-pro-11-1 .retngulo-70-6Aiq3g {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 2px);
}

.ipad-pro-11-1 .retngulo-70-6Aiq3g:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-113-2-I79TRs {
  background-color: transparent;
  height: 154px;
  left: 124px;
  position: absolute;
  top: 15960px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-CMsNOz {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 2px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-CMsNOz:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-114-2-I79TRs {
  background-color: transparent;
  height: 154px;
  left: 122px;
  position: absolute;
  top: 14934px;
  width: 587px;
}

.ipad-pro-11-1 .retngulo-70-ZPQlNe {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 2px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 2px);
}

.ipad-pro-11-1 .retngulo-70-ZPQlNe:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .componente-105-2-I79TRs {
  background-color: transparent;
  height: 152px;
  left: 122px;
  position: absolute;
  top: 14115px;
  width: 585px;
}

.ipad-pro-11-1 .retngulo-70-xdQ7nh {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.ipad-pro-11-1 .retngulo-70-xdQ7nh:hover {
  background-color: #0BE370
}

.ipad-pro-11-1 .comp1-I79TRs {
  background-color: transparent;
  height: 98px;
  left: 219px;
  position: absolute;
  top: 14145px;
  width: 398px;
}

.ipad-pro-11-1 .txt1-98xl1U {
  background-color: transparent;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp2-I79TRs {
  background-color: transparent;
  height: 89px;
  left: 214px;
  position: absolute;
  top: 14345px;
  width: 408px;
}

.ipad-pro-11-1 .txt2-Grmzft {
  background-color: transparent;
  height: 91px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp3-I79TRs {
  background-color: transparent;
  height: 126px;
  left: 172px;
  position: absolute;
  top: 14555px;
  width: 493px;
}

.ipad-pro-11-1 .txt3-JGyhVE {
  background-color: transparent;
  height: 128px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp4-I79TRs {
  background-color: transparent;
  height: 97px;
  left: 139px;
  position: absolute;
  top: 14746px;
  width: 558px;
}

.ipad-pro-11-1 .txt4-nRBBFD {
  background-color: transparent;
  height: 99px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp5-I79TRs {
  background-color: transparent;
  height: 92px;
  left: 229px;
  position: absolute;
  top: 14969px;
  width: 378px;
}

.ipad-pro-11-1 .txt5-s3cZSk {
  background-color: transparent;
  height: 94px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp6-I79TRs {
  background-color: transparent;
  height: 104px;
  left: 156px;
  position: absolute;
  top: 15174px;
  width: 525px;
}

.ipad-pro-11-1 .txt6-QviAxb {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 106px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp7-I79TRs {
  background-color: transparent;
  height: 101px;
  left: 244px;
  position: absolute;
  top: 15377px;
  width: 349px;
}

.ipad-pro-11-1 .txt7-PGyxhw {
  background-color: transparent;
  height: 103px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp8-I79TRs {
  background-color: transparent;
  height: 95px;
  left: 185px;
  position: absolute;
  top: 15581px;
  width: 466px;
}

.ipad-pro-11-1 .txt8-hQgHYR {
  background-color: transparent;
  height: 97px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp9-I79TRs {
  background-color: transparent;
  height: 98px;
  left: 171px;
  position: absolute;
  top: 15770px;
  width: 495px;
}

.ipad-pro-11-1 .txt9-xTU8nw {
  background-color: transparent;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .comp10-I79TRs {
  background-color: transparent;
  height: 144px;
  left: 190px;
  position: absolute;
  top: 15976px;
  width: 457px;
}

.ipad-pro-11-1 .txt10-kO94ZR {
  background-color: transparent;
  height: 146px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.ipad-pro-11-1 .componente-6-3-I79TRs {
  background-color: transparent;
  height: 380px;
  left: 79px;
  position: absolute;
  top: 4724px;
  width: 677px;
}

.ipad-pro-11-1 .retngulo-103-NqhQsX {
  background-color: transparent;
  border: 1px solid #707070;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
