/* screen - iphone-12-12-pro-1 */

.iphone-12-12-pro-1 {
  background-color: var(--white);
  height: 11169px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-12-12-pro-1 .video-OCa9PZ {
  background-color: transparent;
  height: 207px;
  left: 20px;
  position: absolute;
  top: 434px;
  width: 350px;
}

.iphone-12-12-pro-1 .video-4LIVYq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .cadastre-se-OCa9PZ {
  background-color: transparent;
  height: 45px;
  left: -28px;
  pointer-events: auto;
  position: absolute;
  top: 145px;
  transition: all 0.2s ease;
  width: 159px;
}

.iphone-12-12-pro-1 .cadastre-se-OCa9PZ:hover {
  transform: translate(5px, 0);
}

.iphone-12-12-pro-1 .retngulo-6-Vqb6v3 {
  background-color: var(--pomegranate);
  border-radius: 35px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .planos-Vqb6v3 {
  background-color: transparent;
  bottom: calc(35.71% - 11px);
  height: 31px;
  letter-spacing: 0.60px;
  line-height: 24px;
  position: absolute;
  right: calc(35.00% - 28px);
  text-align: left;
  white-space: nowrap;
  width: 79px;
}

.iphone-12-12-pro-1 .login-OCa9PZ {
  background-color: transparent;
  height: 45px;
  left: 267px;
  pointer-events: auto;
  position: absolute;
  top: 145px;
  transition: all 0.2s ease;
  width: 220px;
}

.iphone-12-12-pro-1 .login-OCa9PZ:hover {
  transform: translate(-5px, 0);
}

.iphone-12-12-pro-1 .retngulo-7-gUbBds {
  background-color: var(--tarawera);
  border-radius: 35px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .entrar-gUbBds {
  background-color: transparent;
  bottom: calc(42.86% - 13px);
  height: 31px;
  left: 29px;
  letter-spacing: 0.60px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 71px;
}

.iphone-12-12-pro-1 .matheus-guilherme-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 6367px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .rafaela-oquino-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 216px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 6367px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .o-melhor-progra-clicar-e-enviar-OCa9PZ {
  background-color: transparent;
  height: 53px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 6389px;
  width: 159px;
}

.iphone-12-12-pro-1 .uso-diariamente-s-aos-criadores-OCa9PZ {
  background-color: transparent;
  height: 53px;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 6389px;
  width: 159px;
}

.iphone-12-12-pro-1 .carlos-cruz-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 6631px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .minha-taxa-de-v-e-minhas-vendas-OCa9PZ {
  background-color: transparent;
  height: 53px;
  left: 126px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 6654px;
  width: 139px;
}

.iphone-12-12-pro-1 .todas-aestomada-soenviadas-para-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 1332px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .voc-tambm-podep-ramar-mensagens-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 3545px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .vendas-no-carto-cisam-ser-nicas-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 3848px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .pedidos-de-reem-em-ser-anulados-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 4093px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .com-apenas-um-c-a-seu-whats-app-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 219px;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 2651px;
  width: 264px;
}

.iphone-12-12-pro-1 .span0-zarbiz {
}

.iphone-12-12-pro-1 .span1-zarbiz {
}

.iphone-12-12-pro-1 .span2-zarbiz {
}

.iphone-12-12-pro-1 .span3-zarbiz {
}

.iphone-12-12-pro-1 .span4-zarbiz {
}

.iphone-12-12-pro-1 .span5-zarbiz {
}

.iphone-12-12-pro-1 .span6-zarbiz {
}

.iphone-12-12-pro-1 .span7-zarbiz {
}

.iphone-12-12-pro-1 .apenas-selecion-um-certo-tempo-OCa9PZ {
  background-color: transparent;
  height: 97px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 3608px;
  width: 277px;
}

.iphone-12-12-pro-1 .voc-pode-tambm-erceiro-produto-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 43px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 3911px;
  width: 272px;
}

.iphone-12-12-pro-1 .com-uma-simples-enso-do-cliente-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 47px;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 4156px;
  width: 247px;
}

.iphone-12-12-pro-1 .voc-automatiza-rios-e-contnuos-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 133px;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 4359px;
  width: 247px;
}

.iphone-12-12-pro-1 .span0-nPhXRg {
}

.iphone-12-12-pro-1 .span1-nPhXRg {
  font-style: normal;
}

.iphone-12-12-pro-1 .span2-nPhXRg {
}

.iphone-12-12-pro-1 .span3-nPhXRg {
  font-style: normal;
}

.iphone-12-12-pro-1 .com-a-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 4283px;
  width: 74px;
}

.iphone-12-12-pro-1 .dentro-da-voclo-nossos-filtros-OCa9PZ {
  background-color: transparent;
  color: var(--pomegranate-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 900;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 2528px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-cCjEml {
  color: #fe5517;
  font-style: normal;
}

.iphone-12-12-pro-1 .span1-cCjEml {
  font-style: normal;
}

.iphone-12-12-pro-1 .span2-cCjEml {
}

.iphone-12-12-pro-1 .span3-cCjEml {
  color: #fe5517;
  font-style: normal;
}

.iphone-12-12-pro-1 .span4-cCjEml {
  font-style: normal;
}

.iphone-12-12-pro-1 .r4700-OCa9PZ {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 47px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 47px;
  position: absolute;
  text-align: left;
  top: 5059px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .ms-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: left;
  top: 5030px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .r49700-OCa9PZ {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 5282px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .anual-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 5253px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .r13700-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 5158px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .trimestral-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 280px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 5131px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .nossoservio-dea-ura-bemacessvel-OCa9PZ {
  background-color: transparent;
  color: var(--pomegranate-2);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 700;
  height: auto;
  left: 75px;
  letter-spacing: 2.16px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 4700px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-STtBPQ {
  color: var(--tarawera);
  font-style: normal;
  font-weight: 300;
}

.iphone-12-12-pro-1 .span1-STtBPQ {
  font-style: normal;
}

.iphone-12-12-pro-1 .voc-temtodo-con-alma-desuas-mos-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 84px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 5716px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .quem-usarecomenda-OCa9PZ {
  -webkit-text-stroke: 4px var(--pomegranate-2);
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 6076px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .aviso-legal-est-acebook-ou-do-f-OCa9PZ {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 62px;
  letter-spacing: 0.13px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 10550px;
  width: 269px;
}

.iphone-12-12-pro-1 .title-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 85px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 9046px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .ms-xHscRf {
  background-color: transparent;
  height: auto;
  left: 156px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 9317px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .r4700-xHscRf {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 9401px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .anual-xHscRf {
  background-color: transparent;
  height: auto;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 10097px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .r49700-xHscRf {
  background-color: transparent;
  color: var(--pomegranate);
  font-family: var(--font-family-roboto);
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 10182px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .trimestral-xHscRf {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 9700px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .r13700-xHscRf {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 9785px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .componente-14-1-OCa9PZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 117px;
  pointer-events: auto;
  position: absolute;
  top: 9497px;
  transition: all 0.2s ease;
  width: 157px;
}

.iphone-12-12-pro-1 .componente-14-1-OCa9PZ:hover {
  transform: translate(-5px, 0);
}

.iphone-12-12-pro-1 .retngulo-86-xIzFUA {
  background-color: var(--pomegranate-2);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .compre-agora-xIzFUA {
  background-color: transparent;
  bottom: calc(44.29% - 8px);
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: calc(47.86% - 53px);
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 110px;
}

.iphone-12-12-pro-1 .componente-16-1-OCa9PZ {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 117px;
  position: absolute;
  top: 10285px;
  width: 157px;
}

.iphone-12-12-pro-1 .retngulo-86-kKrZQm {
  background-color: var(--pomegranate-2);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .compre-agora-kKrZQm {
  background-color: transparent;
  bottom: calc(44.29% - 8px);
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 110px;
}

.iphone-12-12-pro-1 .a-nova-ferramenta-para-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 338px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .produtores-e-afiliados-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 29px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 372px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .descubracomo-to-quina-de-vendas-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-weight: 900;
  height: 90px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  top: 659px;
  width: 275px;
}

.iphone-12-12-pro-1 .span0-6dLsNA {
  font-style: normal;
  font-weight: 400;
}

.iphone-12-12-pro-1 .span1-6dLsNA {
  font-style: normal;
}

.iphone-12-12-pro-1 .integrao-automt-as-plataformas-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 818px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .aguardandopagamento-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 1614px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-jSy7Yv {
}

.iphone-12-12-pro-1 .span1-jSy7Yv {
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.iphone-12-12-pro-1 .span2-jSy7Yv {
}

.iphone-12-12-pro-1 .venda-emchargeback-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1614px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-ZGisPU {
}

.iphone-12-12-pro-1 .span1-ZGisPU {
}

.iphone-12-12-pro-1 .venda-iniciada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 275px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1612px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-qYpVo5 {
}

.iphone-12-12-pro-1 .span1-qYpVo5 {
}

.iphone-12-12-pro-1 .venda-aprovada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 49px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1853px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .venda-completa-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 158px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 1855px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-77hyc5 {
}

.iphone-12-12-pro-1 .span1-77hyc5 {
}

.iphone-12-12-pro-1 .venda-reclamada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 1857px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-mSV3xC {
}

.iphone-12-12-pro-1 .span1-mSV3xC {
}

.iphone-12-12-pro-1 .boleto-gerado-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1733px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-BvLDxA {
}

.iphone-12-12-pro-1 .span1-BvLDxA {
}

.iphone-12-12-pro-1 .venda-em-anlise-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1735px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-p5duqb {
}

.iphone-12-12-pro-1 .span1-p5duqb {
}

.iphone-12-12-pro-1 .venda-reembolsada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1733px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-joxMca {
}

.iphone-12-12-pro-1 .span1-joxMca {
}

.iphone-12-12-pro-1 .venda-cancelada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1980px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-I1dPJu {
}

.iphone-12-12-pro-1 .span1-I1dPJu {
}

.iphone-12-12-pro-1 .venda-expirada-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: 1982px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-b3JkaC {
}

.iphone-12-12-pro-1 .span1-b3JkaC {
}

.iphone-12-12-pro-1 .venda-vencida-OCa9PZ {
  background-color: transparent;
  height: auto;
  left: 274px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: center;
  top: 1981px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .span0-uzM1tf {
}

.iphone-12-12-pro-1 .span1-uzM1tf {
}

.iphone-12-12-pro-1 .componente-6-2-OCa9PZ {
  background-color: transparent;
  height: 159px;
  left: 54px;
  position: absolute;
  top: 2066px;
  width: 283px;
}

.iphone-12-12-pro-1 .retngulo-103-GZxujS {
  background-color: transparent;
  border: 1px solid #707070;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .perguntasfrequentes-OCa9PZ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 7067px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .ficou-comalguma-idafale-conosco-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 8524px;
  white-space: nowrap;
  width: auto;
}

.iphone-12-12-pro-1 .email-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 18px;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 8683px;
  white-space: nowrap;
  width: 73px;
}

.iphone-12-12-pro-1 .atendimento-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 18px;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 8796px;
  white-space: nowrap;
  width: 148px;
}

.iphone-12-12-pro-1 .hotonhotoncom-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 81px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 8712px;
  width: 230px;
}

.iphone-12-12-pro-1 .seg-sex-08h-s-2-iados-09h-s-17h-OCa9PZ {
  background-color: transparent;
  color: var(--tarawera);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 44px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 8828px;
  width: 264px;
}

.iphone-12-12-pro-1 .componente-106-1-OCa9PZ {
  background-color: transparent;
  height: 73px;
  left: 57px;
  position: absolute;
  top: 7712px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-WZa4ev {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-WZa4ev:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-108-1-OCa9PZ {
  background-color: transparent;
  height: 71px;
  left: 57px;
  position: absolute;
  top: 7808px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-yvhIYC {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% + 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-yvhIYC:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-107-1-OCa9PZ {
  background-color: transparent;
  height: 71px;
  left: 56px;
  position: absolute;
  top: 7323px;
  width: 277px;
}

.iphone-12-12-pro-1 .retngulo-70-O6gjJk {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: calc(100.00% - 1px);
}

.iphone-12-12-pro-1 .retngulo-70-O6gjJk:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-109-1-OCa9PZ {
  background-color: transparent;
  height: 72px;
  left: 57px;
  position: absolute;
  top: 7904px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-noYx1v {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-noYx1v:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-110-1-OCa9PZ {
  background-color: transparent;
  height: 72px;
  left: 56px;
  position: absolute;
  top: 7420px;
  width: 277px;
}

.iphone-12-12-pro-1 .retngulo-70-biwud2 {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 1px);
}

.iphone-12-12-pro-1 .retngulo-70-biwud2:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-112-1-OCa9PZ {
  background-color: transparent;
  height: 72px;
  left: 57px;
  position: absolute;
  top: 7996px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-RnVixx {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-RnVixx:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-111-1-OCa9PZ {
  background-color: transparent;
  height: 72px;
  left: 56px;
  position: absolute;
  top: 7512px;
  width: 277px;
}

.iphone-12-12-pro-1 .retngulo-70-kQz2uM {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 1px);
}

.iphone-12-12-pro-1 .retngulo-70-kQz2uM:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-113-1-OCa9PZ {
  background-color: transparent;
  height: 73px;
  left: 57px;
  position: absolute;
  top: 8100px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-Fvp6pd {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-Fvp6pd:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-114-1-OCa9PZ {
  background-color: transparent;
  height: 73px;
  left: 56px;
  position: absolute;
  top: 7615px;
  width: 277px;
}

.iphone-12-12-pro-1 .retngulo-70-INZ1rx {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: calc(100.00% - 1px);
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
  width: calc(100.00% - 1px);
}

.iphone-12-12-pro-1 .retngulo-70-INZ1rx:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .componente-105-1-OCa9PZ {
  background-color: transparent;
  height: 72px;
  left: 56px;
  position: absolute;
  top: 7229px;
  width: 276px;
}

.iphone-12-12-pro-1 .retngulo-70-XqOQ3N {
  background-color: var(--pomegranate);
  border-radius: 105px;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.iphone-12-12-pro-1 .retngulo-70-XqOQ3N:hover {
  background-color: #0BE370
}

.iphone-12-12-pro-1 .comp1-OCa9PZ {
  background-color: transparent;
  height: 46px;
  left: 102px;
  position: absolute;
  top: 7243px;
  width: 189px;
}

.iphone-12-12-pro-1 .txt1-bqWWxa {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp2-OCa9PZ {
  background-color: transparent;
  height: 42px;
  left: 100px;
  position: absolute;
  top: 7337px;
  width: 194px;
}

.iphone-12-12-pro-1 .txt2-m9Aw0M {
  background-color: transparent;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp3-OCa9PZ {
  background-color: transparent;
  height: 59px;
  left: 80px;
  position: absolute;
  top: 7436px;
  width: 234px;
}

.iphone-12-12-pro-1 .txt3-9HsuWh {
  background-color: transparent;
  height: 61px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp4-OCa9PZ {
  background-color: transparent;
  height: 46px;
  left: 64px;
  position: absolute;
  top: 7526px;
  width: 264px;
}

.iphone-12-12-pro-1 .txt4-cGKDyj {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp5-OCa9PZ {
  background-color: transparent;
  height: 43px;
  left: 107px;
  position: absolute;
  top: 7632px;
  width: 180px;
}

.iphone-12-12-pro-1 .txt5-TlavKl {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp6-OCa9PZ {
  background-color: transparent;
  height: 58px;
  left: 69px;
  position: absolute;
  top: 7728px;
  width: 257px;
}

.iphone-12-12-pro-1 .txt6-qv9XxG {
  background-color: transparent;
  height: 60px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp7-OCa9PZ {
  background-color: transparent;
  height: 48px;
  left: 114px;
  position: absolute;
  top: 7824px;
  width: 166px;
}

.iphone-12-12-pro-1 .txt7-u71WFD {
  background-color: transparent;
  height: 50px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp8-OCa9PZ {
  background-color: transparent;
  height: 45px;
  left: 86px;
  position: absolute;
  top: 7921px;
  width: 221px;
}

.iphone-12-12-pro-1 .txt8-3Tb735 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp9-OCa9PZ {
  background-color: transparent;
  height: 46px;
  left: 80px;
  position: absolute;
  top: 8010px;
  width: 235px;
}

.iphone-12-12-pro-1 .txt9-VCYivt {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .comp10-OCa9PZ {
  background-color: transparent;
  height: 68px;
  left: 89px;
  position: absolute;
  top: 8107px;
  width: 217px;
}

.iphone-12-12-pro-1 .txt10-O5uYh5 {
  background-color: transparent;
  height: 70px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}

.iphone-12-12-pro-1 .componente-8-5-OCa9PZ {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 120px;
  pointer-events: auto;
  position: absolute;
  top: 9899px;
  transition: all 0.2s ease;
  width: 151px;
}

.iphone-12-12-pro-1 .componente-8-5-OCa9PZ:hover {
  filter: grayscale(100%);
}

.iphone-12-12-pro-1 .retngulo-86-pKaxU1 {
  background-color: var(--tarawera);
  border-radius: 33px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-12-12-pro-1 .compre-agora-pKaxU1 {
  background-color: transparent;
  bottom: calc(44.47% - 8px);
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 900;
  height: 17px;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: calc(100.00% - 49px);
}
