<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="resources/home/desktop/css/web-1920-1.css" />
    <link rel="stylesheet" type="text/css" href="resources/home/desktop/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="resources/home/desktop/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body>
    <input type="hidden" id="anPageName" name="page" value="web-1920-1" />
    <div class="container-center-horizontal" id="main">
    	<div class="web-1920-1 screen" style="background-image: url('/resources/home/desktop/image.png'); background-size: 100% 12544px;">

          <div class="hotonhotoncom-AejjGu roboto-normal-tarawera-25px">hoton@hoton.com</div>
          <div class="seg-sex-08h-s-2-iados-09h-s-17h-AejjGu roboto-normal-tarawera-25px">
            Seg à Sex – 08h às 20h<br />Sáb, dom e feriados – 09h às 17h
          </div>
          <div class="matheus-AejjGu roboto-black-tarawera-49px">MATHEUS</div>
          <div class="rafaela-AejjGu roboto-black-tarawera-49px">RAFAELA</div>
          <div class="carlos-cruz-AejjGu roboto-black-tarawera-49px">CARLOS CRUZ</div>
          <div class="o-melhor-progra-clicar-e-enviar-AejjGu roboto-normal-tarawera-25px">
            O melhor programa pra envio de mensagens que já vi! Melhora muito a conversão de vendas. Bem didático, só
            clicar e enviar.
          </div>
          <div class="uso-diariamente-s-aos-criadores-AejjGu roboto-normal-tarawera-25px">
            Uso diariamente, a ferramenta,<br />parabéns aos criadores!
          </div>
          <div class="minha-taxa-de-v-e-minhas-vendas-AejjGu roboto-normal-tarawera-25px">
            Minha taxa de vendas como afiliado nunca foi tão alta! Consegui com a ferramenta um controle que não tinha a
            anos<br />sobre minhas vendas.
          </div>
          <div class="perguntas-frequentes-AejjGu">Perguntas frequentes</div>
          <div class="ficou-com-algum-idafale-conosco-AejjGu">Ficou com alguma dúvida?<br />Fale Conosco!</div>
          <img class="a-nova-ferramenta-AejjGu" src="resources/home/desktop/img/a-nova-ferramenta@1x.png" /><img
            class="para-produtores-e-afiliados-AejjGu"
            src="resources/home/desktop/img/para-produtores-e-afiliados@1x.png"
          /><img
            class="descubra-como-t-quina-de-vendas-AejjGu"
            src="resources/home/desktop/img/descubra-como-tornar-seu-whatsapp-uma-m-quina-de-vendas-@1x.png"
          />
          <div class="integrao-automt-as-plataformas-AejjGu roboto-black-white-33px">
            Integração automática com as plataformas:
          </div>
          <div class="todas-aes-tomad-o-enviadas-para-AejjGu">Todas ações tomadas pelo cliente são enviadas para</div>
          <div class="aguardandopagamento-AejjGu roboto-bold-tarawera-26px">
            <span class="span0-FOHaZa roboto-medium-tarawera-26px"></span
            ><span class="span1-FOHaZa">Aguardando<br /></span
            ><span class="span2-FOHaZa roboto-bold-tarawera-26px-2">Pagamento</span>
          </div>
          <div class="venda-emchargeback-AejjGu roboto-bold-tarawera-26px">
            <span class="span0-utx2nP roboto-medium-tarawera-26px">Venda </span
            ><span class="span1-utx2nP roboto-bold-tarawera-26px-2">em<br />Chargeback</span>
          </div>
          <div class="venda-iniciada-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-UHH8j3 roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-UHH8j3 roboto-bold-tarawera-27px">Iniciada</span>
          </div>
          <div class="venda-aprovada-AejjGu roboto-bold-tarawera-27px">Venda Aprovada</div>
          <div class="venda-completa-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-wppTzc roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-wppTzc roboto-bold-tarawera-27px">Completa</span>
          </div>
          <div class="venda-reclamada-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-6CNerH roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-6CNerH roboto-bold-tarawera-27px">Reclamada</span>
          </div>
          <div class="boleto-gerado-AejjGu roboto-bold-tarawera-26px">
            <span class="span0-KxFEMb roboto-medium-tarawera-26px"></span
            ><span class="span1-KxFEMb roboto-bold-tarawera-26px-2">Boleto Gerado</span>
          </div>
          <div class="venda-em-anlise-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-CNEssc roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-CNEssc roboto-bold-tarawera-27px">em Análise</span>
          </div>
          <div class="venda-reembolsada-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-oSvPHh roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-oSvPHh roboto-bold-tarawera-27px">Reembolsada</span>
          </div>
          <div class="venda-cancelada-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-8rqGLn roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-8rqGLn roboto-bold-tarawera-27px">Cancelada</span>
          </div>
          <div class="venda-expirada-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-HdoNiC roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-HdoNiC roboto-bold-tarawera-27px">Expirada</span>
          </div>
          <div class="venda-vencida-AejjGu roboto-bold-tarawera-27px-2">
            <span class="span0-dRxNS5 roboto-medium-tarawera-27px">Venda </span
            ><span class="span1-dRxNS5 roboto-bold-tarawera-27px">Vencida</span>
          </div>
          <img
            class="voc-automatiza-rios-e-contnuos-AejjGu"
            src="resources/home/desktop/img/voc--automatiza-suas-vendas-com-resultados-di-rios-e-cont-nuos-@1x.png"
          /><img class="com-a-AejjGu" src="resources/home/desktop/img/com-a@1x.png" /><img
            class="voc-tambm-pode-ramar-mensagens-AejjGu"
            src="resources/home/desktop/img/voc--tamb-m-pode-programar-mensagens@1x.png"
          /><img
            class="vendas-no-carto-cisam-ser-nicas-AejjGu"
            src="resources/home/desktop/img/vendas-no-cart-o-n-o-precisam-ser--nicas@1x.png"
          /><img
            class="pedidos-de-reem-em-ser-anulados-AejjGu"
            src="resources/home/desktop/img/pedidos-de-reembolsos-podem-ser-anulados@1x.png"
          /><img
            class="com-apenas-um-c-a-seu-whats-app-AejjGu"
            src="resources/home/desktop/img/com-apenas-um-clique--voc--chama-clientes-que-geraram-boleto-e--@1x.png"
          /><img
            class="apenas-selecion-um-certo-tempo-AejjGu"
            src="resources/home/desktop/img/apenas-selecionando-a-categoria----a-mensagem-de-quem-gerou-bole@1x.png"
          /><img
            class="voc-pode-tambm-erceiro-produto-AejjGu"
            src="resources/home/desktop/img/voc--pode-tamb-m-chama-los-oferecendo-um-segundo--ou-terceiro-pr@1x.png"
          /><img
            class="com-uma-simples-enso-do-cliente-AejjGu"
            src="resources/home/desktop/img/com-uma-simples-mensagem-e-compreens-o-do-cliente--@1x.png"
          />
          <h1 class="title-AejjGu">R$47,00</h1>
          <div class="ms-AejjGu">MÊS</div>
          <div class="r49700-AejjGu">R$497,00</div>
          <div class="r13700-AejjGu">R$137,00</div>
          <div class="trimestral-AejjGu">TRIMESTRAL</div>
          <div class="voc-tem-todo-co-lma-de-suas-mos-AejjGu">Você tem todo controle na palma de suas mãos</div>
          <img
            class="nosso-servio-de-ra-bem-acessvel-AejjGu"
            src="resources/home/desktop/img/nosso-servi-o-de-assinatura---bem-acess-vel@1x.png"
          />
          <div class="nossos-planos-AejjGu" id="planos">Nossos Planos</div>
          <div class="anual-AejjGu roboto-black-white-44px">ANUAL</div>
          <div class="trimestral-MZAjZS roboto-black-white-44px">TRIMESTRAL</div>
          <div class="ms-MZAjZS roboto-black-white-44px">MÊS</div>
          <div class="r4700-AejjGu">R$47,00</div>
          <div class="r49700-MZAjZS">R$497,00</div>
          <div class="r13700-MZAjZS">R$137,00</div>
          <p class="aviso-legal-est-acebook-ou-do-f-AejjGu">
            Aviso Legal: Este produto não garante a obtenção de resultados. Qualquer referência ao desempenho de uma
            estratégia não deve ser interpretada como uma garantia de resultados<br /><br /><br />ESTE SITE NÃO É do
            FACEBOOK: Este site não faz parte do site do Facebook ou do Facebook Inc. Além disso, este site NÃO é
            endossado pelo Facebook de nenhuma maneira. FACEBOOK é uma marca comercial independente da FACEBOOK, Inc.<br /><br />A
            Hoton é uma empresa com o objetivo de ajudar pessoas a obterem resultados financeiros utilizando o poder da
            internet através da ferramenta. Não reivindicamos ou declaramos que ao usar o método, você ganhará dinheiro
            ou recuperará seu dinheiro. Os resultados vão variar com base no seu esforço, no conhecimento que você
            adquirir e nas forças do mercado que estão além do controle de qualquer pessoa.<br /><br /><br />CNPJ:
            29.320.870/0001-20 - Copyright © Hoton - Comercial Drumond 2021<br /><br />Política de Privacidade - Termos
            de Uso
          </p>
          <img
            class="dentro-da-voclo-nossos-filtros-AejjGu"
            src="resources/home/desktop/img/dentro-da-------------voc--localiza-quem---o-cliente-usando-noss@1x.png"
          />
          <div class="email-AejjGu">Email</div>
          <div class="atendimento-AejjGu">Atendimento</div>
          <div class="produtor-AejjGu roboto-normal-tarawera-38px">Produtor</div>
          <div class="afiliado-AejjGu roboto-normal-tarawera-38px">Afiliado</div>
          <div class="afiliado-MZAjZS roboto-normal-tarawera-38px">Afiliado</div>
          <div class="quem-usa-recomenda-AejjGu">Quem usa recomenda</div>
          <img
            class="integrao-automt-as-plataformas-MZAjZS"
            src="resources/home/desktop/img/integra--o-autom-tica-com-as-plataformas-@1x.png"
          /><form action="https://pay.hotmart.com/Y55878950S?off=ubsm171g&checkoutMode=6" target="_blank">
            <div class="componente-7-1-AejjGu smart-layers-pointers">
              <div class="retngulo-86-jChL6t"></div>
              <input style="-webkit-appearance: none;border: none;padding: 0;" type="submit" value="COMPRE AGORA" class="compre-agora-jChL6t roboto-black-white-21px">

            </div>
            </form
          ><form action="https://go.hotmart.com/Y55878950S?ap=79a3" target="_blank">
            <div class="componente-8-3-AejjGu smart-layers-pointers">
              <div class="retngulo-86-lxrRGi"></div>
              <input style="-webkit-appearance: none;border: none;padding: 0;" type="submit" value="COMPRE AGORA" class="compre-agora-jChL6t roboto-black-white-21px">
            </div></form>
            <form action="https://go.hotmart.com/Y55878950S?ap=308c" target="_blank">
            <div class="componente-9-3-AejjGu smart-layers-pointers">
              <div class="retngulo-86-1d6VMZ"></div>
                            <input style="-webkit-appearance: none;border: none;padding: 0;" type="submit" value="COMPRE AGORA" class="compre-agora-jChL6t roboto-black-white-21px">

            </div></form
          >
         <a href="#planos"> <div class="cadastre-se-AejjGu smart-layers-pointers">
            <div class="retngulo-6-ompiPZ smart-layers-pointers"></div>
            <div class="planos-ompiPZ roboto-black-white-33px">Planos</div>
          </div></a>
          <a href="youtube.com" target="_blank">
            <div class="login-AejjGu smart-layers-pointers">
              <a href="login" onclick="window.event.stopPropagation()">
                <div class="login-t0vgxP smart-layers-pointers">
                  <a href="login" onclick="window.event.stopPropagation()">
                    <div class="login-CJhcoY smart-layers-pointers">
                      <div class="retngulo-7-JiV53Y smart-layers-pointers"></div>
                      <div class="entrar-JiV53Y roboto-black-white-33px">Entrar</div>
                    </div></a
                  >
                </div></a
              >
            </div></a
          >
          <div class="componente-6-1-AejjGu">
            <div class="retngulo-103-o4wJBe">
              <iframe
                style="border: 0; pointer-events: auto"
                id="ytplayer"
                type="text/html"
                width="100%"
                height="100%"
                th:src="${video}+'?rel=0&autoplay=0'"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
            </div>
          </div>
          <div class="grupo-361-AejjGu smart-layers-pointers">
            <div class="retngulo-17-VZRjbQ smart-layers-pointers"></div>
            <div class="grupo-188-VZRjbQ">
              <img class="caminho-154-VZWFs7" src="resources/home/desktop/img/caminho-154@1x.png" /><img
                class="caminho-155-VZWFs7"
                src="resources/home/desktop/img/caminho-155@1x.png"
              />
              <div class="grupo-187-VZWFs7">
                <img class="retngulo-43-Eg3Ilc" src="resources/home/desktop/img/ret-ngulo-43@1x.png" /><img
                  class="caminho-156-Eg3Ilc"
                  src="resources/home/desktop/img/caminho-156@1x.png"
                /><img class="caminho-157-Eg3Ilc" src="resources/home/desktop/img/caminho-157@1x.png" /><img
                  class="retngulo-44-Eg3Ilc"
                  src="resources/home/desktop/img/ret-ngulo-43@1x.png"
                />
              </div>
            </div>
          </div>
          <div class="grupo-362-AejjGu smart-layers-pointers">
            <div class="retngulo-18-lMX9kr smart-layers-pointers"></div>
            <img class="caminho-158-lMX9kr" src="resources/home/desktop/img/caminho-158@1x.png" />
          </div>
          <div class="grupo-363-AejjGu smart-layers-pointers">
            <div class="retngulo-19-jMFXox smart-layers-pointers"></div>
            <div class="grupo-192-jMFXox">
              <div class="retngulo-45-kEzU0x"></div>
              <div class="grupo-190-kEzU0x">
                <div class="retngulo-46-bhO8YJ"></div>
                <div class="retngulo-47-bhO8YJ"></div>
              </div>
              <div class="x-kEzU0x">$</div>
            </div>
          </div>
          <div class="grupo-364-AejjGu smart-layers-pointers">
            <div class="retngulo-20-9jePv0 smart-layers-pointers"></div>
            <div class="grupo-269-9jePv0">
              <div class="grupo-197-BqA9ai">
                <div class="grupo-193-vyxcw6">
                  <img class="caminho-159-pBd7nv" src="resources/home/desktop/img/caminho-159@1x.png" /><img
                    class="caminho-160-pBd7nv"
                    src="resources/home/desktop/img/caminho-160@1x.png"
                  />
                </div>
                <div class="grupo-194-vyxcw6">
                  <img class="caminho-161-KypiOn" src="resources/home/desktop/img/caminho-161@1x.png" /><img
                    class="caminho-162-KypiOn"
                    src="resources/home/desktop/img/caminho-162@1x.png"
                  />
                </div>
                <div class="grupo-195-vyxcw6">
                  <img class="caminho-163-8l3If8" src="resources/home/desktop/img/caminho-163@1x.png" /><img
                    class="caminho-164-8l3If8"
                    src="resources/home/desktop/img/caminho-164@1x.png"
                  />
                </div>
                <div class="grupo-196-vyxcw6">
                  <img class="caminho-165-kdGymi" src="resources/home/desktop/img/caminho-165@1x.png" /><img
                    class="caminho-166-kdGymi"
                    src="resources/home/desktop/img/caminho-166@1x.png"
                  />
                </div>
              </div>
              <img class="linha-3-BqA9ai" src="resources/home/desktop/img/linha-3@1x.png" />
            </div>
          </div>
          <div class="grupo-365-AejjGu smart-layers-pointers">
            <div class="retngulo-24-3QPsbX smart-layers-pointers"></div>
            <div class="grupo-203-3QPsbX">
              <img class="caminho-167-MDir4c" src="resources/home/desktop/img/caminho-167@1x.png" /><img
                class="caminho-168-MDir4c"
                src="resources/home/desktop/img/caminho-168@1x.png"
              />
              <div class="grupo-202-MDir4c">
                <img class="caminho-169-1kcBw6" src="resources/home/desktop/img/caminho-169@1x.png" />
                <div class="grupo-198-1kcBw6">
                  <img class="caminho-170-r22j05" src="resources/home/desktop/img/caminho-170@1x.png" /><img
                    class="caminho-171-r22j05"
                    src="resources/home/desktop/img/caminho-171@1x.png"
                  />
                </div>
                <div class="grupo-199-1kcBw6">
                  <div class="elipse-7-rFxc1a"></div>
                  <div class="elipse-8-rFxc1a"></div>
                </div>
                <div class="grupo-200-1kcBw6">
                  <img class="caminho-172-fGfHqi" src="resources/home/desktop/img/caminho-172@1x.png" /><img
                    class="caminho-173-fGfHqi"
                    src="resources/home/desktop/img/caminho-172@1x.png"
                  />
                </div>
                <div class="grupo-201-1kcBw6">
                  <div class="elipse-9-6R0KSh"></div>
                  <div class="elipse-10-6R0KSh"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="grupo-366-AejjGu smart-layers-pointers">
            <div class="retngulo-23-e2OKTT smart-layers-pointers"></div>
            <div class="grupo-210-e2OKTT">
              <div class="grupo-204-1LQHjG">
                <img class="caminho-174-GOOhms" src="resources/home/desktop/img/caminho-174@1x.png" /><img
                  class="caminho-175-GOOhms"
                  src="resources/home/desktop/img/caminho-175@1x.png"
                />
              </div>
              <div class="grupo-205-1LQHjG">
                <img class="caminho-176-CZONM5" src="resources/home/desktop/img/caminho-176@1x.png" /><img
                  class="caminho-177-CZONM5"
                  src="resources/home/desktop/img/caminho-177@1x.png"
                />
              </div>
              <div class="grupo-206-1LQHjG">
                <img class="caminho-178-RDIWRG" src="resources/home/desktop/img/caminho-178@1x.png" /><img
                  class="caminho-179-RDIWRG"
                  src="resources/home/desktop/img/caminho-179@1x.png"
                />
              </div>
              <div class="grupo-207-1LQHjG">
                <img class="caminho-180-kdFWRb" src="resources/home/desktop/img/caminho-180@1x.png" /><img
                  class="caminho-181-kdFWRb"
                  src="resources/home/desktop/img/caminho-181@1x.png"
                />
              </div>
              <div class="grupo-208-1LQHjG">
                <img class="caminho-182-paYJxQ" src="resources/home/desktop/img/caminho-182@1x.png" /><img
                  class="caminho-183-paYJxQ"
                  src="resources/home/desktop/img/caminho-183@1x.png"
                />
              </div>
              <div class="grupo-209-1LQHjG">
                <img class="caminho-184-Ej0uXK" src="resources/home/desktop/img/caminho-184@1x.png" /><img
                  class="caminho-185-Ej0uXK"
                  src="resources/home/desktop/img/caminho-185@1x.png"
                />
              </div>
            </div>
          </div>
          <div class="grupo-367-AejjGu smart-layers-pointers">
            <div class="retngulo-21-gNbKyx smart-layers-pointers"></div>
            <div class="grupo-211-gNbKyx">
              <div class="elipse-11-4zleNz"></div>
              <img class="caminho-186-4zleNz" src="resources/home/desktop/img/caminho-186@1x.png" />
              <div class="retngulo-48-4zleNz"></div>
              <img class="caminho-187-4zleNz" src="resources/home/desktop/img/caminho-187@1x.png" /><img
                class="caminho-188-4zleNz"
                src="resources/home/desktop/img/caminho-188@1x.png"
              /><img class="caminho-189-4zleNz" src="resources/home/desktop/img/caminho-189@1x.png" /><img
                class="caminho-190-4zleNz"
                src="resources/home/desktop/img/caminho-190@1x.png"
              />
            </div>
          </div>
          <div class="grupo-368-AejjGu smart-layers-pointers">
            <div class="retngulo-22-1xKB1a smart-layers-pointers"></div>
            <div class="grupo-219-1xKB1a">
              <img class="caminho-191-7YOYmJ" src="resources/home/desktop/img/caminho-191@1x.png" />
              <div class="elipse-12-7YOYmJ"></div>
              <div class="grupo-212-7YOYmJ">
                <div class="retngulo-49-kecogo"></div>
                <div class="retngulo-50-kecogo"></div>
              </div>
              <div class="grupo-213-7YOYmJ">
                <div class="retngulo-51-FPFLcz"></div>
                <div class="retngulo-52-FPFLcz"></div>
              </div>
              <div class="grupo-214-7YOYmJ">
                <div class="retngulo-53-ojsvbI"></div>
                <div class="retngulo-54-ojsvbI"></div>
              </div>
              <div class="grupo-215-7YOYmJ">
                <div class="retngulo-55-jvHuyM"></div>
                <div class="retngulo-56-jvHuyM"></div>
              </div>
              <div class="grupo-216-7YOYmJ">
                <div class="retngulo-57-wQ2F2P"></div>
                <div class="retngulo-58-wQ2F2P"></div>
              </div>
              <div class="grupo-217-7YOYmJ">
                <div class="retngulo-59-17nrLY"></div>
                <div class="retngulo-60-17nrLY"></div>
              </div>
              <div class="grupo-218-7YOYmJ">
                <div class="elipse-13-KLQy8p"></div>
                <img class="caminho-192-KLQy8p" src="resources/home/desktop/img/caminho-192@1x.png" />
              </div>
              <img class="caminho-193-7YOYmJ" src="resources/home/desktop/img/caminho-193@1x.png" /><img
                class="caminho-194-7YOYmJ"
                src="resources/home/desktop/img/caminho-194@1x.png"
              /><img class="retngulo-61-7YOYmJ" src="resources/home/desktop/img/ret-ngulo-61@1x.png" />
            </div>
          </div>
          <div class="grupo-369-AejjGu smart-layers-pointers">
            <div class="retngulo-28-crXxnm smart-layers-pointers"></div>
            <div class="grupo-230-crXxnm">
              <div class="grupo-220-dwms6d">
                <img class="caminho-195-IcoFz4" src="resources/home/desktop/img/caminho-195@1x.png" /><img
                  class="caminho-196-IcoFz4"
                  src="resources/home/desktop/img/caminho-196@1x.png"
                />
              </div>
              <div class="grupo-221-dwms6d">
                <img class="caminho-197-c6IJpB" src="resources/home/desktop/img/caminho-197@1x.png" /><img
                  class="caminho-198-c6IJpB"
                  src="resources/home/desktop/img/caminho-198@1x.png"
                />
              </div>
              <div class="grupo-222-dwms6d">
                <img class="caminho-199-De12R7" src="resources/home/desktop/img/caminho-199@1x.png" /><img
                  class="caminho-200-De12R7"
                  src="resources/home/desktop/img/caminho-200@1x.png"
                />
              </div>
              <div class="grupo-223-dwms6d">
                <img class="caminho-201-aYiuiq" src="resources/home/desktop/img/caminho-201@1x.png" /><img
                  class="caminho-202-aYiuiq"
                  src="resources/home/desktop/img/caminho-202@1x.png"
                />
              </div>
              <div class="grupo-224-dwms6d">
                <img class="caminho-203-GCQduL" src="resources/home/desktop/img/caminho-203@1x.png" /><img
                  class="caminho-204-GCQduL"
                  src="resources/home/desktop/img/caminho-204@1x.png"
                />
              </div>
              <div class="grupo-225-dwms6d">
                <img class="caminho-205-7HpKPW" src="resources/home/desktop/img/caminho-205@1x.png" /><img
                  class="caminho-206-7HpKPW"
                  src="resources/home/desktop/img/caminho-206@1x.png"
                />
              </div>
              <div class="grupo-226-dwms6d">
                <img class="caminho-207-VomgeA" src="resources/home/desktop/img/caminho-207@1x.png" /><img
                  class="caminho-208-VomgeA"
                  src="resources/home/desktop/img/caminho-208@1x.png"
                />
              </div>
              <div class="grupo-227-dwms6d">
                <img class="caminho-209-5VGTkO" src="resources/home/desktop/img/caminho-209@1x.png" /><img
                  class="caminho-210-5VGTkO"
                  src="resources/home/desktop/img/caminho-210@1x.png"
                />
              </div>
              <div class="grupo-228-dwms6d">
                <img class="caminho-211-mGYdgU" src="resources/home/desktop/img/caminho-211@1x.png" /><img
                  class="caminho-212-mGYdgU"
                  src="resources/home/desktop/img/caminho-212@1x.png"
                />
              </div>
              <div class="grupo-229-dwms6d">
                <img class="caminho-213-WDq41F" src="resources/home/desktop/img/caminho-213@1x.png" /><img
                  class="caminho-214-WDq41F"
                  src="resources/home/desktop/img/caminho-214@1x.png"
                />
              </div>
            </div>
          </div>
          <div class="grupo-370-AejjGu smart-layers-pointers">
            <div class="retngulo-27-S9lVIz smart-layers-pointers"></div>
            <div class="grupo-262-S9lVIz">
              <div class="retngulo-62-jpfwZ7"></div>
              <img class="caminho-215-jpfwZ7" src="resources/home/desktop/img/caminho-215@1x.png" />
            </div>
          </div>
          <div class="grupo-371-AejjGu smart-layers-pointers">
            <div class="retngulo-25-Ybavjx smart-layers-pointers"></div>
            <div class="grupo-258-Ybavjx">
              <div class="grupo-231-JgLdAa">
                <img class="caminho-216-tuKH7K" src="resources/home/desktop/img/caminho-216@1x.png" /><img
                  class="caminho-217-tuKH7K"
                  src="resources/home/desktop/img/caminho-217@1x.png"
                />
              </div>
              <div class="grupo-232-JgLdAa">
                <img class="caminho-218-5hjnPK" src="resources/home/desktop/img/caminho-218@1x.png" /><img
                  class="caminho-219-5hjnPK"
                  src="resources/home/desktop/img/caminho-219@1x.png"
                />
              </div>
              <div class="grupo-233-JgLdAa">
                <img class="caminho-220-PMJYnt" src="resources/home/desktop/img/caminho-220@1x.png" /><img
                  class="caminho-221-PMJYnt"
                  src="resources/home/desktop/img/caminho-221@1x.png"
                />
              </div>
              <div class="grupo-234-JgLdAa">
                <img class="caminho-222-rX2t6e" src="resources/home/desktop/img/caminho-222@1x.png" /><img
                  class="caminho-223-rX2t6e"
                  src="resources/home/desktop/img/caminho-223@1x.png"
                />
              </div>
              <div class="grupo-235-JgLdAa">
                <img class="caminho-224-eoz4O5" src="resources/home/desktop/img/caminho-224@1x.png" /><img
                  class="caminho-225-eoz4O5"
                  src="resources/home/desktop/img/caminho-225@1x.png"
                />
              </div>
              <div class="grupo-236-JgLdAa">
                <img class="caminho-226-CY4rrx" src="resources/home/desktop/img/caminho-226@1x.png" /><img
                  class="caminho-227-CY4rrx"
                  src="resources/home/desktop/img/caminho-227@1x.png"
                />
              </div>
              <div class="grupo-237-JgLdAa">
                <img class="caminho-228-fwir5B" src="resources/home/desktop/img/caminho-228@1x.png" /><img
                  class="caminho-229-fwir5B"
                  src="resources/home/desktop/img/caminho-229@1x.png"
                />
              </div>
              <div class="grupo-238-JgLdAa">
                <img class="caminho-230-B8lgxw" src="resources/home/desktop/img/caminho-230@1x.png" /><img
                  class="caminho-231-B8lgxw"
                  src="resources/home/desktop/img/caminho-231@1x.png"
                />
              </div>
              <div class="grupo-239-JgLdAa">
                <img class="caminho-232-chWeah" src="resources/home/desktop/img/caminho-232@1x.png" /><img
                  class="caminho-233-chWeah"
                  src="resources/home/desktop/img/caminho-233@1x.png"
                />
              </div>
              <div class="grupo-240-JgLdAa">
                <img class="caminho-234-VLScbX" src="resources/home/desktop/img/caminho-234@1x.png" /><img
                  class="caminho-235-VLScbX"
                  src="resources/home/desktop/img/caminho-235@1x.png"
                />
              </div>
              <div class="grupo-241-JgLdAa">
                <img class="caminho-236-hJkUBU" src="resources/home/desktop/img/caminho-236@1x.png" /><img
                  class="caminho-237-hJkUBU"
                  src="resources/home/desktop/img/caminho-237@1x.png"
                />
              </div>
              <div class="grupo-242-JgLdAa">
                <img class="caminho-238-9GWyYA" src="resources/home/desktop/img/caminho-238@1x.png" /><img
                  class="caminho-239-9GWyYA"
                  src="resources/home/desktop/img/caminho-239@1x.png"
                />
              </div>
              <div class="grupo-243-JgLdAa">
                <img class="caminho-240-qx89Go" src="resources/home/desktop/img/caminho-240@1x.png" /><img
                  class="caminho-241-qx89Go"
                  src="resources/home/desktop/img/caminho-241@1x.png"
                />
              </div>
              <div class="grupo-244-JgLdAa">
                <img class="caminho-242-k3e1uU" src="resources/home/desktop/img/caminho-242@1x.png" /><img
                  class="caminho-243-k3e1uU"
                  src="resources/home/desktop/img/caminho-243@1x.png"
                />
              </div>
              <div class="grupo-245-JgLdAa">
                <img class="caminho-244-7otWrP" src="resources/home/desktop/img/caminho-244@1x.png" /><img
                  class="caminho-245-7otWrP"
                  src="resources/home/desktop/img/caminho-245@1x.png"
                />
              </div>
              <div class="grupo-246-JgLdAa">
                <img class="caminho-246-YLtOYq" src="resources/home/desktop/img/caminho-246@1x.png" /><img
                  class="caminho-247-YLtOYq"
                  src="resources/home/desktop/img/caminho-247@1x.png"
                />
              </div>
              <div class="grupo-247-JgLdAa">
                <img class="caminho-248-UMfgKL" src="resources/home/desktop/img/caminho-248@1x.png" /><img
                  class="caminho-249-UMfgKL"
                  src="resources/home/desktop/img/caminho-249@1x.png"
                />
              </div>
              <div class="grupo-248-JgLdAa">
                <img class="caminho-250-xRK2OF" src="resources/home/desktop/img/caminho-250@1x.png" /><img
                  class="caminho-251-xRK2OF"
                  src="resources/home/desktop/img/caminho-251@1x.png"
                />
              </div>
              <div class="grupo-249-JgLdAa">
                <img class="caminho-252-Yy3agT" src="resources/home/desktop/img/caminho-252@1x.png" /><img
                  class="caminho-253-Yy3agT"
                  src="resources/home/desktop/img/caminho-253@1x.png"
                />
              </div>
              <div class="grupo-250-JgLdAa">
                <img class="caminho-254-xmKB1O" src="resources/home/desktop/img/caminho-254@1x.png" /><img
                  class="caminho-255-xmKB1O"
                  src="resources/home/desktop/img/caminho-255@1x.png"
                />
              </div>
              <div class="grupo-251-JgLdAa">
                <img class="caminho-256-z1GUVi" src="resources/home/desktop/img/caminho-256@1x.png" /><img
                  class="caminho-257-z1GUVi"
                  src="resources/home/desktop/img/caminho-257@1x.png"
                />
              </div>
              <div class="grupo-252-JgLdAa">
                <img class="caminho-258-U00LNX" src="resources/home/desktop/img/caminho-258@1x.png" /><img
                  class="caminho-259-U00LNX"
                  src="resources/home/desktop/img/caminho-259@1x.png"
                />
              </div>
              <div class="grupo-253-JgLdAa">
                <img class="caminho-260-xLDLvg" src="resources/home/desktop/img/caminho-260@1x.png" /><img
                  class="caminho-261-xLDLvg"
                  src="resources/home/desktop/img/caminho-261@1x.png"
                />
              </div>
              <div class="grupo-254-JgLdAa">
                <img class="caminho-262-B80zcr" src="resources/home/desktop/img/caminho-262@1x.png" /><img
                  class="caminho-263-B80zcr"
                  src="resources/home/desktop/img/caminho-263@1x.png"
                />
              </div>
              <div class="grupo-255-JgLdAa">
                <img class="caminho-264-4wziip" src="resources/home/desktop/img/caminho-264@1x.png" /><img
                  class="caminho-265-4wziip"
                  src="resources/home/desktop/img/caminho-265@1x.png"
                />
              </div>
              <div class="grupo-256-JgLdAa">
                <img class="caminho-266-Q74MRP" src="resources/home/desktop/img/caminho-266@1x.png" /><img
                  class="caminho-267-Q74MRP"
                  src="resources/home/desktop/img/caminho-267@1x.png"
                />
              </div>
              <div class="grupo-257-JgLdAa">
                <img class="caminho-268-vgTjZH" src="resources/home/desktop/img/caminho-268@1x.png" /><img
                  class="caminho-269-vgTjZH"
                  src="resources/home/desktop/img/caminho-269@1x.png"
                />
              </div>
            </div>
          </div>
          <div class="grupo-372-AejjGu smart-layers-pointers">
            <div class="retngulo-26-zGOsNv smart-layers-pointers"></div>
            <div class="grupo-259-zGOsNv">
              <img class="caminho-270-f6iMof" src="resources/home/desktop/img/caminho-270@1x.png" /><img
                class="caminho-271-f6iMof"
                src="resources/home/desktop/img/caminho-271@1x.png"
              /><img class="caminho-272-f6iMof" src="resources/home/desktop/img/caminho-272@1x.png" />
            </div>
          </div>
          <img class="hotonazul-8-AejjGu" src="resources/home/desktop/img/hoton-azul-8@1x.png" /><img
            class="horton-8-AejjGu"
            src="resources/home/desktop/img/horton--8@1x.png"
          /><img class="hortonbranco-8-AejjGu" src="resources/home/desktop/img/horton-branco-8@1x.png" /><img
            class="horton-8-MZAjZS"
            src="resources/home/desktop/img/horton--8-1@1x.png"
          /><img class="hortonbranco-8-MZAjZS" src="resources/home/desktop/img/horton-branco-8-1@1x.png" />
        
        <div class="componente-106-1-HlzXCz">
          <div class="retngulo-70-a JMReJU smart-layers-pointers border-8px-black">
          	<div class="txt2-yDpk8h roboto-normal-white-35px" style="top: 50px;">Como vou receber o acesso da minha conta?</div>
          	<div class="txt2-yDpk8h roboto-normal-black-28px" style="top: 23px; font-size: 23px; display: none;">           O acesso a sua conta é logo após a confirmação do pagamento. É enviado o login e senha no seu e-mail e você pode acessar quando quiser pelo computador, notebook, celular ou tablet.
</div>
          </div>
        </div>
        <div class="componente-108-1-HlzXCz">
          <div class="retngulo-70-a 64R6fl smart-layers-pointers border-8px-black">
          	<div class="txt4-UNQ71f roboto-normal-white-35px" style="top: 50px;">
            A Recuperação de Boletos é só para produtos que estão na Hoton?
          </div>
          <div class="txt4-UNQ71f roboto-normal-black-28px" style="top: 50px; display: none;">
                        Não, é para qualquer produto que você divulga.


          </div>
          </div>
        </div>
        <div class="componente-107-1-HlzXCz">
          <div class="retngulo-70-a WiGM7Y smart-layers-pointers border-8px-black">
          	<div class="txt3-ax2gAp roboto-normal-white-35px" style="top: 50px;">Em quanto tempo vou receber o login e senha de acesso?</div>
          	<div class="txt3-ax2gAp roboto-normal-black-28px" style="top: 25px; font-size: 21px; display: none;">
          	          Em pagamento via cartão a liberação é imediata. Caso seja via boleto, envie o comprovante de pagamento para o Whatsapp e peça a liberação do acesso.
</div>
         
          </div>
        </div>
        <div class="componente-109-1-HlzXCz">
          <div class="retngulo-70-a ojrkbs smart-layers-pointers border-8px-black">
          	 <div class="txt6-LNS3BK roboto-normal-white-35px" style="top: 50px;">
            Comprei um plano inferior mas quero fazer upgrade, como proceder?
          </div>
          <div class="txt6-LNS3BK roboto-normal-black-28px" style="top: 50px; display: none;">
            Basta você cancelar sua assinatura e fazer uma nova, seus dados serão mantidos e suas configurações de
            estrutura própria também.
          </div>
          </div>
        </div>
        <div class="componente-110-1-HlzXCz">
          <div class="retngulo-70-a PU4iux smart-layers-pointers border-8px-black">
          	<div class="txt5-nD3ZQe roboto-normal-white-35px" style="top: 50px;">A Hoton tem contrato de fidelidade?</div>
          	<div class="txt5-nD3ZQe roboto-normal-black-28px" style="top: 50px; display: none;">Não, você pode cancelar quando quiser a sua assinatura.</div>
          </div>
        </div>
        <div class="componente-112-1-HlzXCz">
          <div class="retngulo-70-a GHAGJS smart-layers-pointers border-8px-black">
          <div class="txt8-PAer7Q roboto-normal-white-35px" style="top: 50px;">Se o produto que eu divulgo não estiver na Hoton?</div>
          <div class="txt8-PAer7Q roboto-normal-black-28px"  style="top: 25px; font-size: 21px; display: none;">          Não tem problema, é só pedir para o produtor nos solicitar pelo whatsapp da nossa página que em menos de 48 horas o produto estará disponível para você configurar a estrutura própria.
</div>	
          </div>
        </div>
        <div class="componente-111-1-HlzXCz">
          <div class="retngulo-70-a SaBv8e smart-layers-pointers border-8px-black">
          <div class="txt7-l4d7xq roboto-normal-white-35px" style="top: 50px;">Quais são as formas de pagamento?</div>
          <div class="txt7-l4d7xq roboto-normal-black-28px" style="top: 50px; display: none;">Aceitamos pagamentos por cartão de crédito e boleto.</div>
          </div>
        </div>
        <div class="componente-113-1-HlzXCz">
          <div class="retngulo-70-a WqcaAx smart-layers-pointers border-8px-black">
          	<div class="txt10-PgcVAK roboto-normal-white-35px" style="top: 30px;">
            Sou produtor e quero colocar meu produto na Hoton, o que eu preciso fazer?
          </div>
          <div class="txt10-PgcVAK roboto-normal-black-28px" style="top: 25px; font-size: 21px; display: none;">
            Basta chamar no botão do whatsapp da nossa página, informar a página de vendas do seu produto e o link de
            convite para afiliação e aguardar que em menos de 48 horas colocaremos seu produto disponível na nossa
            plataforma.
          </div>
          </div>
        </div>
        <div class="componente-114-1-HlzXCz">
          <div class="retngulo-70-a WuUEAL smart-layers-pointers border-8px-black">
          	 <div class="txt9-3GUcRO roboto-normal-white-35px" style="top: 50px;">
            A Hoton que faz a recuperação boletos para o Afiliado ?
          </div>
          <div class="txt9-3GUcRO roboto-normal-black-28px" style="top: 50px; display: none;">
                      Não, nós disponibilizamos a ferramenta para agilizar seu atendimento, assim o seu cliente fica inteiramente no seu controle.

          </div>
          </div>
        </div>
        <div class="componente-105-1-HlzXCz">
          <div class="retngulo-70-a vQixZK smart-layers-pointers border-8px-black">
          	<div class="txt1-pPXByq roboto-normal-white-35px" style="top: 50px;">Meus dados estão protegidos nesse site?</div>
          	<div class="txt1-pPXByq roboto-normal-black-28px" style="top: 38px; display: none;">Totalmente seguro e protegido! A plataforma que gerencia nossos pagamentos é 100% confiável contra
            golpes.</div>
          </div>
          <script type="text/javascript">
        $('.retngulo-70-a').hover(function() {
      		$('.retngulo-70-a div').each(function() {
      			$(this).toggle();
      		});
      	});
        </script>
        </div>
        <div class="componente-6-2-AejjGu">
          <div class="retngulo-103-tWLxe4">
            <iframe
              style="border: 0; pointer-events: auto"
              id="ytplayer"
              type="text/html"
              width="100%"
              height="100%"
              th:src="${videoTour}+'?rel=0&autoplay=0'"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
        </div>
</div>
  </body>
</html>
