<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="resources/home/mobile/css/iphone-12-12-pro-1.css" />
    <link rel="stylesheet" type="text/css" href="resources/home/mobile/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="resources/home/mobile/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body>
    <div class="container-center-horizontal" id="main" >
    <div class="iphone-12-12-pro-1 screen" 
    	style="background-image: url('/resources/home/mobile/image.png'); background-size: cover;">
        <div class="video-OCa9PZ">
          <div class="video-4LIVYq">
            <iframe
              style="border: 0; pointer-events: auto"
              id="ytplayer"
              type="text/html"
              width="100%"
              height="100%"
              th:src="${video}+'?rel=0&autoplay=0'"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
        <a href="#planos"><div class="cadastre-se-OCa9PZ smart-layers-pointers">
          <div class="retngulo-6-Vqb6v3"></div>
          <div class="planos-Vqb6v3 roboto-black-white-24px">Planos</div>
        </div></a>
        <a href="login"><div class="login-OCa9PZ smart-layers-pointers">
          <div class="retngulo-7-gUbBds"></div>
          <div class="entrar-gUbBds roboto-black-white-24px">Entrar</div>
        </div></a>
        <div class="matheus-guilherme-OCa9PZ roboto-black-tarawera-14px">MATHEUS GUILHERME</div>
        <div class="rafaela-oquino-OCa9PZ roboto-black-tarawera-14px">RAFAELA OQUINO</div>
        <p class="o-melhor-progra-clicar-e-enviar-OCa9PZ roboto-normal-tarawera-8px">
          O melhor programa pra envio de mensagens que já vi! Melhora muito a conversão de vendas. Bem didático, só
          clicar e enviar.
        </p>
        <p class="uso-diariamente-s-aos-criadores-OCa9PZ roboto-normal-tarawera-8px">
          Uso diariamente, a ferramenta,<br />parabéns aos criadores!
        </p>
        <div class="carlos-cruz-OCa9PZ roboto-black-tarawera-14px">CARLOS CRUZ</div>
        <p class="minha-taxa-de-v-e-minhas-vendas-OCa9PZ roboto-normal-tarawera-8px">
          Minha taxa de vendas como afiliado nunca foi tão alta! Consegui com a ferramenta um controle que não tinha a
          anos sobre minhas vendas.
        </p>
        <div class="todas-aestomada-soenviadas-para-OCa9PZ">
          Todas ações<br />tomadas pelo<br />cliente são<br />enviadas para
        </div>
        <div class="voc-tambm-podep-ramar-mensagens-OCa9PZ roboto-black-white-25px">
          Você também pode<br />programar mensagens
        </div>
        <div class="vendas-no-carto-cisam-ser-nicas-OCa9PZ roboto-black-white-25px">
          Vendas no cartão não<br />precisam ser únicas
        </div>
        <div class="pedidos-de-reem-em-ser-anulados-OCa9PZ roboto-black-white-25px">
          Pedidos de Reembolso<br />
          podem ser anulados
        </div>
        <div class="com-apenas-um-c-a-seu-whats-app-OCa9PZ">
          <span class="span0-zarbiz roboto-normal-white-25px">Com apenas </span
          ><span class="span1-zarbiz roboto-bold-white-25px">um clique</span
          ><span class="span2-zarbiz roboto-normal-white-25px">, você </span
          ><span class="span3-zarbiz roboto-bold-white-25px">chama clientes </span
          ><span class="span4-zarbiz roboto-normal-white-25px">que </span
          ><span class="span5-zarbiz roboto-bold-white-25px">geraram boleto</span
          ><span class="span6-zarbiz roboto-normal-white-25px"> e é </span
          ><span class="span7-zarbiz roboto-bold-white-25px">encaminhado diretamente para seu WhatsApp.</span>
        </div>
        <p class="apenas-selecion-um-certo-tempo-OCa9PZ roboto-normal-white-15px">
          Apenas selecionando a categoria. ( A mensagem de quem gerou boleto vai ser enviada daqui 30 minutos ) para que
          seja enviada para o cliente depois de um certo tempo.
        </p>
        <p class="voc-pode-tambm-erceiro-produto-OCa9PZ">
          Você pode também chama-los oferecendo um segundo, ou terceiro produto.
        </p>
        <p class="com-uma-simples-enso-do-cliente-OCa9PZ">Com uma simples mensagem e compreensão do cliente.</p>
        <p class="voc-automatiza-rios-e-contnuos-OCa9PZ">
          <span class="span0-nPhXRg roboto-normal-white-15px">você </span><span class="span1-nPhXRg">automatiza</span
          ><span class="span2-nPhXRg roboto-normal-white-15px"> suas vendas </span
          ><span class="span3-nPhXRg">com resultados diários e contínuos.</span>
        </p>
        <div class="com-a-OCa9PZ">Com a</div>
        <div class="dentro-da-voclo-nossos-filtros-OCa9PZ" style="top: 2524px">
          <span class="span0-cCjEml">Dentro da</span
          ><span class="span1-cCjEml">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span class="span2-cCjEml roboto-black-white-24px"
            >&nbsp;&nbsp; você<br />localiza quem é o cliente<br /></span
          ><span class="span3-cCjEml">usando nossos filtros.</span><span class="span4-cCjEml">&nbsp;</span>
        </div>
        <div class="r4700-OCa9PZ">R$47,00</div>
        <div class="ms-OCa9PZ">MÊS</div>
        <div class="r49700-OCa9PZ">R$497,00</div>
        <div class="anual-OCa9PZ">ANUAL</div>
        <div class="r13700-OCa9PZ">R$137,00</div>
        <div class="trimestral-OCa9PZ">TRIMESTRAL</div>
        <div class="nossoservio-dea-ura-bemacessvel-OCa9PZ">
          <span class="span0-STtBPQ">Nosso<br />serviço de<br />assinatura<br /></span
          ><span class="span1-STtBPQ">é bem<br />acessível</span>
        </div>
        <div class="voc-temtodo-con-alma-desuas-mos-OCa9PZ">
          Você tem<br />todo controle<br />na palma de<br />suas mãos
        </div>
        <div class="quem-usarecomenda-OCa9PZ">Quem usa<br />recomenda</div>
        <p class="aviso-legal-est-acebook-ou-do-f-OCa9PZ">
          Aviso Legal: Este produto não garante a obtenção de resultados. Qualquer referência ao desempenho de uma
          estratégia não deve ser interpretada como uma garantia de resultados<br /><br /><br />ESTE SITE NÃO É do
          FACEBOOK: Este site não faz parte do site do Facebook ou do Facebook Inc. Além disso, este site NÃO é
          endossado pelo Facebook de nenhuma maneira. FACEBOOK é uma marca comercial independente da FACEBOOK, Inc.<br /><br />A
          Hoton é uma empresa com o objetivo de ajudar pessoas a obterem resultados financeiros utilizando o poder da
          internet através da ferramenta. Não reivindicamos ou declaramos que ao usar o método, você ganhará dinheiro ou
          recuperará seu dinheiro. Os resultados vão variar com base no seu esforço, no conhecimento que você adquirir e
          nas forças do mercado que estão além do controle de qualquer pessoa.<br /><br /><br />CNPJ: 29.320.870/0001-20
          - Copyright © Hoton - Comercial Drumond 2021<br /><br />Política de Privacidade - Termos de Uso
        </p>
        <h1 id="planos" class="title-OCa9PZ">Nossos<br />Planos</h1>
        <div class="ms-xHscRf roboto-black-white-32px">MÊS</div>
        <div class="r4700-xHscRf">R$47,00</div>
        <div class="anual-xHscRf roboto-black-white-32px">ANUAL</div>
        <div class="r49700-xHscRf">R$497,00</div>
        <div class="trimestral-xHscRf roboto-black-white-32px">TRIMESTRAL</div>
        <div class="r13700-xHscRf">R$137,00</div>
        <form action="https://pay.hotmart.com/Y55878950S?off=ubsm171g&checkoutMode=6" target="_blank">
          <div class="componente-14-1-OCa9PZ smart-layers-pointers">
            <div class="retngulo-86-xIzFUA"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-xIzFUA roboto-black-white-14px">
            
          </div></form
        ><form action="https://go.hotmart.com/Y55878950S?ap=79a3" target="_blank">
          <div class="componente-16-1-OCa9PZ">
            <div class="retngulo-86-kKrZQm"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-kKrZQm roboto-black-white-14px">
            
          </div></form
        >
        <div class="a-nova-ferramenta-para-OCa9PZ">A nova ferramenta para</div>
        <div class="produtores-e-afiliados-OCa9PZ">Produtores e Afiliados</div>
        <div class="descubracomo-to-quina-de-vendas-OCa9PZ">
          <span class="span0-6dLsNA">Descubracomo tornar seu<br /></span
          ><span class="span1-6dLsNA">WhatsApp uma<br />máquina de vendas!</span>
        </div>
        <div class="integrao-automt-as-plataformas-OCa9PZ roboto-black-white-25px">
          Integração automática<br />com as plataformas:
        </div>
        <div class="aguardandopagamento-OCa9PZ roboto-bold-tarawera-9px">
          <span class="span0-jSy7Yv roboto-medium-tarawera-9px"></span><span class="span1-jSy7Yv">Aguardando<br /></span
          ><span class="span2-jSy7Yv roboto-bold-tarawera-9px-2">Pagamento</span>
        </div>
        <div class="venda-emchargeback-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-ZGisPU roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-ZGisPU roboto-bold-tarawera-8px">em<br />Chargeback</span>
        </div>
        <div class="venda-iniciada-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-qYpVo5 roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-qYpVo5 roboto-bold-tarawera-8px">Iniciada</span>
        </div>
        <div class="venda-aprovada-OCa9PZ roboto-bold-tarawera-8px">Venda Aprovada</div>
        <div class="venda-completa-OCa9PZ roboto-bold-tarawera-9px">
          <span class="span0-77hyc5 roboto-medium-tarawera-9px">Venda </span
          ><span class="span1-77hyc5 roboto-bold-tarawera-9px-2">Completa</span>
        </div>
        <div class="venda-reclamada-OCa9PZ roboto-bold-tarawera-9px">
          <span class="span0-mSV3xC roboto-medium-tarawera-9px">Venda </span
          ><span class="span1-mSV3xC roboto-bold-tarawera-9px-2">Reclamada</span>
        </div>
        <div class="boleto-gerado-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-BvLDxA roboto-medium-tarawera-8px"></span
          ><span class="span1-BvLDxA roboto-bold-tarawera-8px">Boleto Gerado</span>
        </div>
        <div class="venda-em-anlise-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-p5duqb roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-p5duqb roboto-bold-tarawera-8px">em Análise</span>
        </div>
        <div class="venda-reembolsada-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-joxMca roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-joxMca roboto-bold-tarawera-8px">Reembolsada</span>
        </div>
        <div class="venda-cancelada-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-I1dPJu roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-I1dPJu roboto-bold-tarawera-8px">Cancelada</span>
        </div>
        <div class="venda-expirada-OCa9PZ roboto-bold-tarawera-9px">
          <span class="span0-b3JkaC roboto-medium-tarawera-9px">Venda </span
          ><span class="span1-b3JkaC roboto-bold-tarawera-9px-2">Expirada</span>
        </div>
        <div class="venda-vencida-OCa9PZ roboto-bold-tarawera-8px-2">
          <span class="span0-uzM1tf roboto-medium-tarawera-8px">Venda </span
          ><span class="span1-uzM1tf roboto-bold-tarawera-8px">Vencida</span>
        </div>
        <div class="componente-6-2-OCa9PZ">
          <div class="retngulo-103-GZxujS">
            <iframe
              style="border: 0; pointer-events: auto"
              id="ytplayer"
              type="text/html"
              width="100%"
              height="100%"
              th:src="${videoTour}+'?rel=0&autoplay=0'"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
        <div class="perguntasfrequentes-OCa9PZ">Perguntas<br />frequentes</div>
        <div class="ficou-comalguma-idafale-conosco-OCa9PZ">Ficou com<br />alguma dúvida?<br />Fale Conosco!</div>
        <div class="email-OCa9PZ" style="height: 23px;">Email</div>
        <div class="atendimento-OCa9PZ" style="height: 23px;">Atendimento</div>
        <div class="hotonhotoncom-OCa9PZ">hoton@hoton.com</div>
        <p class="seg-sex-08h-s-2-iados-09h-s-17h-OCa9PZ">
          Seg à Sex – 08h às 20h<br />Sáb, dom e feriados – 09h às 17h
        </p>
        <div class="componente-106-1-OCa9PZ">
	<div class="faq retngulo-70-WZa4ev smart-layers-pointers border-4px-black">
	<div class="txt1-bqWWxa roboto-normal-white-15px" style="top: 20px;">Como vou receber o acesso da minha conta?</div>
    <div class="txt1-bqWWxa roboto-normal-black-15px" style="top: 5px; font-size: 10px; display: none;">O acesso a sua conta é logo após a confirmação do pagamento. É enviado o login e senha no seu e-mail e você pode acessar quando quiser pelo computador, notebook, celular ou tablet.</div>
          </div>
        </div>
        <div class="componente-108-1-OCa9PZ">
          <div class="faq retngulo-70-yvhIYC smart-layers-pointers border-4px-black">
          	<div class="txt2-m9Aw0M roboto-normal-white-15px" style="top: 20px;">
            A Recuperação de Boletos é só para produtos que estão na Hoton?
          </div>
          <div class="txt2-m9Aw0M roboto-normal-black-15px" style="top: 20px; display: none;">
                        Não, é para qualquer produto que você divulga.


          </div>
          </div>
        </div>
        <div class="componente-107-1-OCa9PZ">
          <div class="faq retngulo-70-O6gjJk smart-layers-pointers border-4px-black">
          	<div class="txt3-9HsuWh roboto-normal-white-15px" style="top: 20px;">Em quanto tempo vou receber o login e senha de acesso?</div>
          	<div class="txt3-9HsuWh roboto-normal-black-15px" style="top: 11px; font-size: 11px; display: none;">
          	          Em pagamento via cartão a liberação é imediata. Caso seja via boleto, envie o comprovante de pagamento para o Whatsapp e peça a liberação do acesso.
</div>
         
          </div>
        </div>
        <div class="componente-109-1-OCa9PZ">
          <div class="faq retngulo-70-noYx1v smart-layers-pointers border-4px-black">
          	 <div class="txt4-cGKDyj roboto-normal-white-15px" style="top: 20px;">
            Comprei um plano inferior mas quero fazer upgrade, como proceder?
          </div>
          <div class="txt4-cGKDyj roboto-normal-black-15px" style="top: 18px;font-size: 14px; display: none; line-height: 10px;">
            Basta você cancelar sua assinatura e fazer uma nova, seus dados serão mantidos e suas configurações de
            estrutura própria também.
          </div>
          </div>
        </div>
        <div class="componente-110-1-OCa9PZ">
          <div class="faq retngulo-70-biwud2 smart-layers-pointers border-4px-black">
          	<div class="txt5-TlavKl roboto-normal-white-15px" style="top: 20px;">A Hoton tem contrato de fidelidade?</div>
          	<div class="txt5-TlavKl roboto-normal-black-15px" style="top: 20px; display: none;">Não, você pode cancelar quando quiser a sua assinatura.</div>
          </div>
        </div>
        <div class="componente-112-1-OCa9PZ">
          <div class="faq retngulo-70-RnVixx smart-layers-pointers border-4px-black">
          <div class="txt6-qv9XxG roboto-normal-white-15px" style="top: 20px;">Se o produto que eu divulgo não estiver na Hoton?</div>
          <div class="txt6-qv9XxG roboto-normal-black-15px"  style="top: 4px; font-size: 11px; display: none;">          Não tem problema, é só pedir para o produtor nos solicitar pelo whatsapp da nossa página que em menos de 48 horas o produto estará disponível para você configurar a estrutura própria.
</div>	
          </div>
        </div>
        <div class="componente-111-1-OCa9PZ">
          <div class="faq retngulo-70-kQz2uM smart-layers-pointers border-4px-black">
          <div class="txt7-u71WFD roboto-normal-white-15px" style="top: 20px;">Quais são as formas de pagamento?</div>
          <div class="txt7-u71WFD roboto-normal-black-15px" style="top: 20px; display: none;">Aceitamos pagamentos por cartão de crédito e boleto.</div>
          </div>
        </div>
        <div class="componente-113-1-OCa9PZ">
          <div class="faq retngulo-70-Fvp6pd smart-layers-pointers border-4px-black">
          	<div class="txt8-3Tb735 roboto-normal-white-15px" style="top: 15px;">
            Sou produtor e quero colocar meu produto na Hoton, o que eu preciso fazer?
          </div>
          <div class="txt8-3Tb735 roboto-normal-black-15px " style="top: 10px; font-size: 10px; line-height: 10px;display: none;">
            Basta chamar no botão do whatsapp da nossa página, informar a página de vendas do seu produto e o link de
            convite para afiliação e aguardar que em menos de 48 horas colocaremos seu produto disponível na nossa
            plataforma.
          </div>
          </div>
        </div>
        <div class="componente-114-1-OCa9PZ">
          <div class="faq retngulo-70-INZ1rx smart-layers-pointers border-4px-black">
          	 <div class="txt9-VCYivt roboto-normal-white-15px" style="top: 20px;">
            A Hoton que faz a recuperação boletos para o Afiliado ?
          </div>
          <div class="txt9-VCYivt roboto-normal-black-15px" style="top: 9px; display: none; font-size: 12px;">
                      Não, nós disponibilizamos a ferramenta para agilizar seu atendimento, assim o seu cliente fica inteiramente no seu controle.

          </div>
          </div>
        </div>
        <div class="componente-105-1-OCa9PZ">
          <div class="faq retngulo-70-XqOQ3N smart-layers-pointers border-4px-black">
          	<div class="txt10-O5uYh5 roboto-normal-white-15px" style="top: 20px;">Meus dados estão protegidos nesse site?</div>
          	<div class="txt10-O5uYh5 roboto-normal-black-15px" style="top: 3px; display: none;">Totalmente seguro e protegido! A plataforma que gerencia nossos pagamentos é 100% confiável contra
            golpes.</div>
          </div>
        </div>
        <form action="https://go.hotmart.com/Y55878950S?ap=308c" target="_blank">
          <div class="componente-8-5-OCa9PZ smart-layers-pointers">
            <div class="retngulo-86-pKaxU1"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-pKaxU1 roboto-black-white-14px">
          </div></form
        >
      </div>
        </div>
  </body>
</html>
