<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/resources/home/tablet/css/ipad-pro-11-1.css" />
    <link rel="stylesheet" type="text/css" href="/resources/home/tablet/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/resources/home/tablet/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body>
    <input type="hidden" id="anPageName" name="page" value="ipad-pro-11-1" />
    <div class="container-center-horizontal" id="main">
      <div class="ipad-pro-11-1 screen" style="background-image: url('/resources/home/tablet/image.png'); background-size: 100% 19911px;">
        <h1 class="title-I79TRs">Perguntas<br />frequentes</h1>
        <div class="ficou-comalguma-idafale-conosco-I79TRs">Ficou com<br />alguma dúvida?<br />Fale Conosco!</div>
        <div class="email-I79TRs">Email</div>
        <div class="atendimento-I79TRs">Atendimento</div>
        <div class="quem-usarecomenda-I79TRs">Quem usa<br />recomenda</div>
        <div class="matheus-I79TRs roboto-black-tarawera-49px">MATHEUS</div>
        <div class="rafaela-I79TRs roboto-black-tarawera-49px">RAFAELA</div>
        <div class="o-melhor-progra-clicar-e-enviar-I79TRs roboto-normal-tarawera-25px">
          O melhor programa pra envio de mensagens que já vi! Melhora muito a conversão de vendas. Bem didático, só
          clicar e enviar.
        </div>
        <div class="uso-diariamente-s-aos-criadores-I79TRs roboto-normal-tarawera-25px">
          Uso diariamente, a ferramenta,<br />parabéns aos criadores!
        </div>
        <div class="produtor-I79TRs roboto-normal-tarawera-38px">Produtor</div>
        <div class="afiliado-I79TRs roboto-normal-tarawera-38px">Afiliado</div>
        <div class="carlos-I79TRs roboto-black-tarawera-49px">CARLOS</div>
        <div class="minha-taxa-de-v-e-minhas-vendas-I79TRs roboto-normal-tarawera-25px">
          Minha taxa de vendas como afiliado nunca foi tão alta! Consegui com a ferramenta um controle que não tinha a
          anos<br />sobre minhas vendas.
        </div>
        <div class="afiliado-CqHr0H roboto-normal-tarawera-38px">Afiliado</div>
        <div class="nosso-serviode-ra-bem-acessvel-I79TRs">
          <span class="span0-8Gnxy9">Nosso serviço<br />de assinatura<br /></span
          ><span class="span1-8Gnxy9">é bem acessível</span>
        </div>
        <div class="voc-tem-todo-co-lma-de-suas-mos-I79TRs">Você tem todo controle<br />na palma de suas mãos</div>
        <div class="pedidos-de-reem-em-ser-anulados-I79TRs roboto-black-white-29px">
          Pedidos de Reembolsos podem ser anulados
        </div>
        <div class="com-apenas-um-c-a-seu-whats-app-I79TRs">
          <span class="span0-jEu7dv roboto-normal-white-35px">Com apenas </span
          ><span class="span1-jEu7dv roboto-bold-white-35px">um clique</span
          ><span class="span2-jEu7dv roboto-normal-white-35px">, você </span
          ><span class="span3-jEu7dv roboto-bold-white-35px">chama clientes </span
          ><span class="span4-jEu7dv roboto-normal-white-35px">que </span
          ><span class="span5-jEu7dv roboto-bold-white-35px">geraram boleto</span
          ><span class="span6-jEu7dv roboto-normal-white-35px"> e é </span
          ><span class="span7-jEu7dv roboto-bold-white-35px">encaminhado diretamente para seu WhatsApp.</span>
        </div>
        <div class="apenas-selecion-um-certo-tempo-I79TRs roboto-normal-white-22px">
          Apenas selecionando a categoria. ( A mensagem de quem gerou boleto vai ser enviada daqui 30 minutos ) para que
          seja enviada para o cliente depois de um certo tempo.
        </div>
        <div class="voc-pode-tambm-erceiro-produto-I79TRs roboto-normal-white-22px">
          Você pode também chama-los oferecendo um segundo, ou terceiro produto.
        </div>
        <div class="com-uma-simples-enso-do-cliente-I79TRs roboto-normal-white-22px">
          Com uma simples mensagem e compreensão do cliente.
        </div>
        <div class="voc-automatiza-rios-e-contnuos-I79TRs" style="top: 7521px;">
          <span class="span0-Caw0t1 roboto-normal-white-65px">você </span><span class="span1-Caw0t1">automatiza</span
          ><span class="span2-Caw0t1 roboto-normal-white-65px"> suas vendas </span
          ><span class="span3-Caw0t1">com resultados diários e contínuos.</span>
        </div>
        <div class="com-a-I79TRs roboto-normal-white-65px" style="width: 193px;">Com a</div>
        <div class="dentro-da-voclo-nossos-filtros-I79TRs" style="top: 5535px;">
          <span class="span0-nwfTZ9">Dentro da</span
          ><span class="span1-nwfTZ9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><span class="span2-nwfTZ9">&nbsp; você<br />localiza quem é o cliente<br /></span
          ><span class="span3-nwfTZ9">usando nossos filtros.</span><span class="span4-nwfTZ9">&nbsp;</span>
        </div>
        <div class="todas-aestomada-soenviadas-para-I79TRs">
          Todas ações<br />tomadas pelo<br />cliente são<br />enviadas para
        </div>
        <div class="aguardandopagamento-I79TRs roboto-bold-tarawera-32px">
          <span class="span0-gDY1xH roboto-medium-tarawera-32px"></span
          ><span class="span1-gDY1xH">Aguardando<br /></span
          ><span class="span2-gDY1xH roboto-bold-tarawera-32px-2">Pagamento</span>
        </div>
        <div class="venda-emchargeback-I79TRs roboto-bold-tarawera-32px">
          <span class="span0-yc2Yc2 roboto-medium-tarawera-32px">Venda </span
          ><span class="span1-yc2Yc2 roboto-bold-tarawera-32px-2">em<br />Chargeback</span>
        </div>
        <div class="venda-iniciada-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-etH1hb roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-etH1hb roboto-bold-tarawera-34px-2">Iniciada</span>
        </div>
        <div class="venda-aprovada-I79TRs">Venda Aprovada</div>
        <div class="venda-completa-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-nxrEXd roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-nxrEXd roboto-bold-tarawera-34px-2">Completa</span>
        </div>
        <div class="venda-reclamada-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-pwxa7T roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-pwxa7T roboto-bold-tarawera-34px-2">Reclamada</span>
        </div>
        <div class="boleto-gerado-I79TRs roboto-bold-tarawera-32px">
          <span class="span0-RxqeD8 roboto-medium-tarawera-32px"></span
          ><span class="span1-RxqeD8 roboto-bold-tarawera-32px-2">Boleto Gerado</span>
        </div>
        <div class="venda-em-anlise-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-xMvdzA roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-xMvdzA roboto-bold-tarawera-34px-2">em Análise</span>
        </div>
        <div class="venda-reembolsada-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-svnUNk roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-svnUNk roboto-bold-tarawera-34px-2">Reembolsada</span>
        </div>
        <div class="venda-cancelada-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-IaALJV roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-IaALJV roboto-bold-tarawera-34px-2">Cancelada</span>
        </div>
        <div class="venda-expirada-I79TRs roboto-bold-tarawera-34px">
          <span class="span0-YtsUxx roboto-medium-tarawera-34px">Venda </span
          ><span class="span1-YtsUxx roboto-bold-tarawera-34px-2">Expirada</span>
        </div>
        <div class="venda-vencida-I79TRs">
          <span class="span0-pPUOdG">Venda </span><span class="span1-pPUOdG">Vencida</span>
        </div>
        <div class="hotonhotoncom-I79TRs roboto-normal-tarawera-25px">hoton@hoton.com</div>
        <div class="seg-sex-08h-s-2-iados-09h-s-17h-I79TRs roboto-normal-tarawera-25px">
          Seg à Sex – 08h às 20h<br />Sáb, dom e feriados – 09h às 17h
        </div>
        <div class="nossos-planos-I79TRs" id="planos">Nossos Planos</div>
        <div class="anual-I79TRs roboto-black-white-44px">ANUAL</div>
        <div class="trimestral-I79TRs roboto-black-white-44px">TRIMESTRAL</div>
        <div class="ms-I79TRs roboto-black-white-44px">MÊS</div>
        <div class="r4700-I79TRs">R$47,00</div>
        <div class="r49700-I79TRs">R$497,00</div>
        <div class="r13700-I79TRs">R$137,00</div>
        <div class="voc-tambm-pode-ramar-mensagens-I79TRs roboto-black-white-29px">
          Você também pode programar mensagens
        </div>
        <div class="vendas-no-carto-cisam-ser-nicas-I79TRs roboto-black-white-29px">
          Vendas no cartão não precisam ser únicas
        </div>
        <div class="r4700-CqHr0H">R$47,00</div>
        <div class="ms-CqHr0H">MÊS</div>
        <div class="r49700-CqHr0H">R$497,00</div>
        <div class="r49700-DCEBAs">R$497,00</div>
        <div class="anual-CqHr0H">ANUAL</div>
        <div class="r13700-CqHr0H">R$137,00</div>
        <div class="r13700-DCEBAs">R$137,00</div>
        <div class="trimestral-CqHr0H">TRIMESTRAL</div>
        <div class="r4700-DCEBAs">R$47,00</div>
        <p class="aviso-legal-est-acebook-ou-do-f-I79TRs">
          Aviso Legal: Este produto não garante a obtenção de resultados. Qualquer referência ao desempenho de uma
          estratégia não deve ser interpretada como uma garantia de resultados<br /><br /><br />ESTE SITE NÃO É do
          FACEBOOK: Este site não faz parte do site do Facebook ou do Facebook Inc. Além disso, este site NÃO é
          endossado pelo Facebook de nenhuma maneira. FACEBOOK é uma marca comercial independente da FACEBOOK, Inc.<br /><br />A
          Hoton é uma empresa com o objetivo de ajudar pessoas a obterem resultados financeiros utilizando o poder da
          internet através da ferramenta. Não reivindicamos ou declaramos que ao usar o método, você ganhará dinheiro ou
          recuperará seu dinheiro. Os resultados vão variar com base no seu esforço, no conhecimento que você adquirir e
          nas forças do mercado que estão além do controle de qualquer pessoa.<br /><br /><br />CNPJ: 29.320.870/0001-20
          - Copyright © Hoton - Comercial Drumond 2021<br /><br />Política de Privacidade - Termos de Uso
        </p>
        <div class="a-nova-ferramenta-I79TRs">a nova ferramenta</div>
        <div class="para-produtores-e-afiliados-I79TRs">para Produtores e Afiliados</div>
        <div class="integrao-automt-as-plataformas-I79TRs">Integração automática com as plataformas:</div>
        <div class="descubra-como-t-quina-de-vendas-I79TRs">
          <span class="span0-MPqvu2">Descubra como tornar seu<br /></span
          ><span class="span1-MPqvu2">WhatsApp uma máquina de vendas!</span>
        </div>
        <div class="video-I79TRs">
          <div class="video-EUaPM6">
            <iframe
              style="border: 0; pointer-events: auto"
              id="ytplayer"
              type="text/html"
              width="100%"
              height="100%"
              th:src="${video}+'?rel=0&autoplay=0'"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
        <form action="https://pay.hotmart.com/Y55878950S?off=ubsm171g&checkoutMode=6" target="_blank">
          <div class="componente-57-1-I79TRs smart-layers-pointers">
            <div class="retngulo-86-Zj0NzV"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-Zj0NzV roboto-black-white-21px">
            
          </div></form
        ><form action="https://go.hotmart.com/Y55878950S?ap=79a3" target="_blank">
          <div class="componente-8-6-I79TRs smart-layers-pointers">
            <div class="retngulo-86-W3M8IF"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-W3M8IF roboto-black-white-21px">
            
          </div></form
        ><form action="https://go.hotmart.com/Y55878950S?ap=308c" target="_blank">
          <div class="componente-9-4-I79TRs smart-layers-pointers">
            <div class="retngulo-86-ZSK6Tx"></div>
            <input style="-webkit-appearance: none;border: none;padding: 0;" 
            	type="submit" 
            	value="COMPRE AGORA" 
            	class="compre-agora-ZSK6Tx roboto-black-white-21px">
            
          </div></form
        >
        <a href="#planos"><div class="cadastre-se-I79TRs">
          <div class="retngulo-6-qbn3kg"></div>
          <div class="planos-qbn3kg">Planos</div>
        </div></a>
        <a href="login"><div class="login-I79TRs">
          <div class="retngulo-7-xVtyla"></div>
          <div class="entrar-xVtyla">Entrar</div>
        </div></a>
        <div class="componente-106-2-I79TRs">
	<div class="faq retngulo-70-41jGrB smart-layers-pointers border-4px-black">
	<div class="txt1-98xl1U roboto-normal-white-35px" style="top: 50px;">Como vou receber o acesso da minha conta?</div>
    <div class="txt1-98xl1U roboto-normal-black-35px" style="top: 10px; font-size: 23px; display: none;">O acesso a sua conta é logo após a confirmação do pagamento. É enviado o login e senha no seu e-mail e você pode acessar quando quiser pelo computador, notebook, celular ou tablet.</div>
          </div>
        </div>
        <div class="componente-108-2-I79TRs">
          <div class="faq retngulo-70-TOqVVa smart-layers-pointers border-4px-black">
          	<div class="txt2-Grmzft roboto-normal-white-35px" style="top: 50px;">
            A Recuperação de Boletos é só para produtos que estão na Hoton?
          </div>
          <div class="txt2-Grmzft roboto-normal-black-35px" style="top: 50px; font-size: 30px;display: none;">
                        Não, é para qualquer produto que você divulga.


          </div>
          </div>
        </div>
        <div class="componente-107-2-I79TRs">
          <div class="faq retngulo-70-TnFJDS smart-layers-pointers border-4px-black">
          	<div class="txt3-JGyhVE roboto-normal-white-35px" style="top: 50px;">Em quanto tempo vou receber o login e senha de acesso?</div>
          	<div class="txt3-JGyhVE roboto-normal-black-35px" style="top: 25px; font-size: 18px; display: none;">
          	          Em pagamento via cartão a liberação é imediata. Caso seja via boleto, envie o comprovante de pagamento para o Whatsapp e peça a liberação do acesso.
</div>
         
          </div>
        </div>
        <div class="componente-109-2-I79TRs">
          <div class="faq retngulo-70-aCBlFC smart-layers-pointers border-4px-black">
          	 <div class="txt4-nRBBFD roboto-normal-white-35px" style="top: 29px;">
            Comprei um plano inferior mas quero fazer upgrade, como proceder?
          </div>
          <div class="txt4-nRBBFD roboto-normal-black-35px" style="top: 30px; font-size: 30px;display: none;">
            Basta você cancelar sua assinatura e fazer uma nova, seus dados serão mantidos e suas configurações de
            estrutura própria também.
          </div>
          </div>
        </div>
        <div class="componente-110-2-I79TRs">
          <div class="faq retngulo-70-F318WF smart-layers-pointers border-4px-black">
          	<div class="txt5-s3cZSk roboto-normal-white-35px" style="top: 50px;">A Hoton tem contrato de fidelidade?</div>
          	<div class="txt5-s3cZSk roboto-normal-black-35px" style="top: 50px; font-size: 30px;display: none;">Não, você pode cancelar quando quiser a sua assinatura.</div>
          </div>
        </div>
        <div class="componente-112-2-I79TRs">
          <div class="faq retngulo-70-W0GP3n smart-layers-pointers border-4px-black">
          <div class="txt6-QviAxb" style="top: 50px;">Se o produto que eu divulgo não estiver na Hoton?</div>
          <div class="txt6-QviAxb roboto-normal-black-35px"  style="color: black; top: 25px; font-size: 21px; display: none;">          Não tem problema, é só pedir para o produtor nos solicitar pelo whatsapp da nossa página que em menos de 48 horas o produto estará disponível para você configurar a estrutura própria.
</div>	
          </div>
        </div>
        <div class="componente-111-2-I79TRs">
          <div class="faq retngulo-70-6Aiq3g smart-layers-pointers border-4px-black">
          <div class="txt7-PGyxhw roboto-normal-white-35px" style="top: 50px;">Quais são as formas de pagamento?</div>
          <div class="txt7-PGyxhw roboto-normal-black-35px" style="top: 50px; font-size: 30px;display: none;">Aceitamos pagamentos por cartão de crédito e boleto.</div>
          </div>
        </div>
        <div class="componente-113-2-I79TRs">
          <div class="faq retngulo-70-CMsNOz smart-layers-pointers border-4px-black">
          	<div class="txt8-hQgHYR roboto-normal-white-35px" style="top: 30px;">
            Sou produtor e quero colocar meu produto na Hoton, o que eu preciso fazer?
          </div>
          <div class="txt8-hQgHYR roboto-normal-black-35px" style="top: 10px; font-size: 21px; display: none;">
            Basta chamar no botão do whatsapp da nossa página, informar a página de vendas do seu produto e o link de
            convite para afiliação e aguardar que em menos de 48 horas colocaremos seu produto disponível na nossa
            plataforma.
          </div>
          </div>
        </div>
        <div class="componente-114-2-I79TRs">
          <div class="faq retngulo-70-ZPQlNe smart-layers-pointers border-4px-black">
          	 <div class="txt9-xTU8nw roboto-normal-white-35px" style="top: 50px;">
            A Hoton que faz a recuperação boletos para o Afiliado ?
          </div>
          <div class="txt9-xTU8nw roboto-normal-black-35px" style="top: 20px; font-size: 30px;display: none;">
                      Não, nós disponibilizamos a ferramenta para agilizar seu atendimento, assim o seu cliente fica inteiramente no seu controle.

          </div>
          </div>
        </div>
        <div class="componente-105-2-I79TRs">
          <div class="faq retngulo-70-xdQ7nh smart-layers-pointers border-4px-black">
          	<div class="txt10-kO94ZR roboto-normal-white-35px" style="top: 50px;">Meus dados estão protegidos nesse site?</div>
          	<div class="txt10-kO94ZR roboto-normal-black-35px" style="top: 38px; font-size: 24px;display: none;">Totalmente seguro e protegido! A plataforma que gerencia nossos pagamentos é 100% confiável contra
            golpes.</div>
          </div>
          </div>
        <div class="componente-6-3-I79TRs">
          <div class="retngulo-103-NqhQsX">
            <iframe
              style="border: 0; pointer-events: auto"
              id="ytplayer"
              type="text/html"
              width="100%"
              height="100%"
              th:src="${videoTour}+'?rel=0&autoplay=0'"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>